Repository seanbetts/sidebar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swiftlint, ios-doc-comments, check-file-size-limits

.pre-commit-config.yaml:

repos:
  # Python - Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--config=backend/pyproject.toml, --fix]
        files: ^backend/(api|workers)/.*\.py$
      - id: ruff-format
        args: [--config=backend/pyproject.toml]
        files: ^backend/(api|workers)/.*\.py$

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/api/(?!alembic/).*\.py$
        args: [--config-file=backend/pyproject.toml]
        additional_dependencies:
          - sqlalchemy[mypy]
          - pydantic
          - fastapi
          - types-requests

  # Python - Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        pass_filenames: false
        args: [--fail-under=80, --verbose, --ignore-init-method, --exclude=backend/api/alembic, backend/api]
        files: ^backend/api/

  # Python - Docstring style
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: [--convention=google]
        files: ^backend/api/(?!alembic/versions/).*\.py$

  # Frontend - Prettier formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node frontend/node_modules/.bin/prettier --config frontend/.prettierrc --plugin ./frontend/node_modules/prettier-plugin-svelte/plugin.js --write
        language: system
        files: ^frontend/.*\.(ts|js|svelte|json|md|yml|yaml)$

  # iOS - Xcode tests (manual only)
  - repo: local
    hooks:
      - id: swiftlint
        name: swiftlint
        entry: bash -lc 'cd ios/sideBar && swiftlint --strict'
        language: system
        files: ^ios/.*\.swift$
        pass_filenames: false
      - id: ios-doc-comments
        name: ios-doc-comments
        entry: python scripts/check_ios_doc_comments.py
        language: system
        files: ^ios/sideBar/sideBar/(ViewModels|Services)/.*\.swift$
        pass_filenames: false
      - id: ios-tests
        name: ios-tests
        entry: scripts/test-ios.sh
        language: system
        files: ^ios/
        pass_filenames: false
        stages: [manual]

  # Frontend - ESLint (all files)
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.17.0
    hooks:
      - id: eslint
        files: ^frontend/src/.*\.(ts|js|svelte)$
        args: [--fix, --max-warnings=0]
        additional_dependencies:
          - eslint@9.39.2
          - eslint-plugin-jsdoc@61.5.0
          - eslint-plugin-svelte@2.46.1
          - svelte-eslint-parser@1.4.1
          - '@typescript-eslint/eslint-plugin@8.50.1'
          - '@typescript-eslint/parser@8.50.1'

  # General - File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]

  # Custom - File size limits
  - repo: local
    hooks:
      - id: check-file-size-limits
        name: check-file-size-limits
        entry: python scripts/check_file_sizes.py
        language: system
        files: ^(backend/api/services|backend/api/routers|frontend/src/lib/components|frontend/src/lib/stores)/.*\.(py|ts|svelte)$

Improve connectivity monitoring reliability
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/App/ConnectivityMonitor.swift
  ios/sideBar/sideBar/Views/Auth/LoginView.swift
Due: swiftlint

Reload pending note after reconnect
  ios/sideBar/sideBar/App/AppEnvironment+Selection.swift
  ios/sideBar/sideBar/ViewModels/NotesViewModel.swift
  ios/sideBar/sideBar/Views/SiteHeaderBar.swift
Due: swiftlint, ios-doc-comments

Show offline note placeholder immediately
  ios/sideBar/sideBar/Views/NotesView.swift
Due: swiftlint

Handle offline chat placeholders and selection
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/Stores/ChatStore.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel+Conversations.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel.swift
  ios/sideBar/sideBar/Views/Chat/ChatHeaderView.swift
  ios/sideBar/sideBar/Views/Chat/ChatView.swift
  ios/sideBar/sideBarTests/ChatViewModelTests.swift
Due: swiftlint, ios-doc-comments

Queue offline note saves and sync status
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/Services/Offline/NotesWriteQueueExecutor.swift
  ios/sideBar/sideBar/Services/Offline/WriteQueue.swift
  ios/sideBar/sideBar/ViewModels/NotesEditorViewModel.swift
  ios/sideBar/sideBar/Views/NotesView.swift
  ios/sideBar/sideBar/Views/SiteHeaderBar.swift
  ios/sideBar/sideBarTests/NotesEditorViewModelTests.swift
Due: swiftlint, ios-doc-comments

Use native iPad notes menu button
  ios/sideBar/sideBar/Views/NotesView.swift
Due: swiftlint

Improve offline note autosave and sync
  ios/sideBar/sideBar/App/AppEnvironment+Auth.swift
  ios/sideBar/sideBar/App/AppEnvironment+DeepLink.swift
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/Services/Offline/DraftStorage.swift
  ios/sideBar/sideBar/Stores/NotesStore.swift
  ios/sideBar/sideBar/Utilities/WidgetContentType.swift
  ios/sideBar/sideBar/Utilities/WidgetDataManager.swift
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
  ios/sideBar/sideBar/ViewModels/NotesEditorViewModel.swift
  ios/sideBar/sideBar/ViewModels/NotesViewModel.swift
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
  ios/sideBar/sideBar/Views/Notes/NativeMarkdownEditorContainer.swift
  ios/sideBar/sideBarWidgets/Intents/NoteIntents.swift
  ios/sideBar/sideBarWidgets/Intents/TaskIntents.swift
  ios/sideBar/sideBarWidgets/Providers/RecentNotesProvider.swift
  ios/sideBar/sideBarWidgets/WidgetContentType.swift
  ios/sideBar/sideBarWidgets/Widgets/LockScreenNotesWidgets.swift
  ios/sideBar/sideBarWidgets/Widgets/RecentNotesWidget.swift
  ios/sideBar/sideBarWidgets/sideBarWidgetsBundle.swift
Due: swiftlint, ios-doc-comments

Coalesce offline note updates
  ios/sideBar/sideBar/Services/Offline/WriteQueue.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+Helpers.swift
Due: swiftlint, ios-doc-comments

Align autosave debounce timing
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
  ios/sideBar/sideBar/Views/Notes/NativeMarkdownEditorContainer.swift
Due: swiftlint, ios-doc-comments

Pree offline pivot
  docs/plans/2026-01-30-offline-sync.md
Due: none

Add top padding to medium widgets for visual balance
  ios/sideBar/sideBarWidgets/Widgets/RecentNotesWidget.swift
  ios/sideBar/sideBarWidgets/Widgets/TodayTasksWidget.swift
Due: swiftlint

Fix widget footer position in small/medium sizes
  ios/sideBar/sideBarWidgets/Widgets/RecentNotesWidget.swift
  ios/sideBar/sideBarWidgets/Widgets/TodayTasksWidget.swift
Due: swiftlint

Refine offline sync plan
  docs/plans/2026-01-30-offline-sync.md
Due: none

Add offline snapshot store and write queue upgrades
  ios/sideBar/SideBarCache.xcdatamodeld/SideBarCache.xcdatamodel/contents
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/Design/Components/OfflineBanner.swift
  ios/sideBar/sideBar/Design/Components/PanelHeader.swift
  ios/sideBar/sideBar/Models/CoreData/OfflineEntry+CoreDataClass.swift
  ios/sideBar/sideBar/Models/CoreData/OfflineEntry+CoreDataProperties.swift
  ios/sideBar/sideBar/Models/CoreData/PendingWrite+CoreDataProperties.swift
  ios/sideBar/sideBar/Services/Offline/CompositeWriteQueueExecutor.swift
  ios/sideBar/sideBar/Services/Offline/DraftStorage.swift
  ios/sideBar/sideBar/Services/Offline/NotesWriteQueueExecutor.swift
  ios/sideBar/sideBar/Services/Offline/OfflineStore.swift
  ios/sideBar/sideBar/Services/Offline/SyncConflict.swift
  ios/sideBar/sideBar/Services/Offline/SyncState.swift
  ios/sideBar/sideBar/Services/Offline/WriteQueue.swift
  ios/sideBar/sideBar/Services/Persistence/PersistenceController.swift
  ios/sideBar/sideBar/ViewModels/NotesEditorViewModel.swift
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
  ios/sideBar/sideBar/Views/Settings/PendingWritesView.swift
  ios/sideBar/sideBar/Views/SiteHeaderBar.swift
  ios/sideBar/sideBarTests/DraftStorageTests.swift
  ios/sideBar/sideBarTests/NotesEditorViewModelTests.swift
  ios/sideBar/sideBarTests/OfflineStoreTests.swift
  ios/sideBar/sideBarTests/WriteQueueTests.swift
Due: swiftlint, ios-doc-comments

Add notes offline snapshots and queue support
  docs/plans/2026-01-30-offline-sync.md
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/Services/Offline/NotesWriteQueueExecutor.swift
  ios/sideBar/sideBar/Services/Offline/ServerSnapshot.swift
  ios/sideBar/sideBar/Services/Offline/WriteQueue.swift
  ios/sideBar/sideBar/Stores/NotesStore+Offline.swift
  ios/sideBar/sideBar/Stores/NotesStore.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel+Realtime.swift
  ios/sideBar/sideBar/ViewModels/NotesEditorViewModel.swift
  ios/sideBar/sideBar/ViewModels/NotesViewModel.swift
  ios/sideBar/sideBarTests/NotesStoreTests.swift
Due: swiftlint, ios-doc-comments

Add backend workstream to offline sync plan
  docs/plans/2026-01-30-offline-sync.md
Due: none

Implement offline conflict resolution and snapshot retention
  docs/plans/2026-01-30-offline-sync.md
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
  ios/sideBar/sideBar/Services/Network/NotesAPI.swift
  ios/sideBar/sideBar/Services/Offline/NotesWriteQueueExecutor.swift
  ios/sideBar/sideBar/Services/Offline/OfflineStore.swift
  ios/sideBar/sideBar/Services/Offline/WriteQueue.swift
  ios/sideBar/sideBar/Stores/NotesStore+Offline.swift
  ios/sideBar/sideBar/Stores/NotesStore.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel+Realtime.swift
  ios/sideBar/sideBar/Views/Settings/PendingWritesView.swift
  ios/sideBar/sideBarTests/OfflineStoreTests.swift
  ios/sideBar/sideBarTests/WriteQueueTests.swift
Due: swiftlint, ios-doc-comments

Improve offline task queue behavior
  docs/plans/2026-01-30-offline-sync.md
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/Services/Cache/CacheKeys.swift
  ios/sideBar/sideBar/Services/Network/TasksAPI.swift
  ios/sideBar/sideBar/Services/Offline/OfflineStore.swift
  ios/sideBar/sideBar/Services/Offline/TasksWriteQueueExecutor.swift
  ios/sideBar/sideBar/Services/Offline/WriteQueue.swift
  ios/sideBar/sideBar/Stores/TasksStore.swift
  ios/sideBar/sideBar/ViewModels/TasksViewModel+Operations.swift
  ios/sideBar/sideBar/ViewModels/TasksViewModel.swift
  ios/sideBar/sideBarTests/TasksStoreTests.swift
Due: swiftlint, ios-doc-comments

Add offline sync endpoints and conflict-aware updates
  backend/api/alembic/env.py
  backend/api/alembic/versions/20260130_1200-040_add_ingested_files_updated_at.py
  backend/api/models/file_ingestion.py
  backend/api/routers/ingestion.py
  backend/api/routers/notes.py
  backend/api/routers/notes_folders.py
  backend/api/routers/websites.py
  backend/api/routers/websites_helpers.py
  backend/api/services/file_ingestion_service.py
  backend/api/services/files_sync_service.py
  backend/api/services/notes_helpers.py
  backend/api/services/notes_service.py
  backend/api/services/notes_sync_service.py
  backend/api/services/notes_workspace_service.py
  backend/api/services/skill_file_ops_ingestion.py
  backend/api/services/test_data_plan.py
  backend/api/services/tools/definitions_transcription.py
  backend/api/services/websites_service.py
  backend/api/services/websites_sync_service.py
  backend/api/services/websites_utils.py
  backend/api/utils/timestamps.py
  backend/tests/api/test_file_ingestion_service.py
  backend/tests/api/test_ingestion_router.py
  backend/tests/api/test_notes_service.py
  backend/tests/api/test_offline_sync_service.py
  backend/tests/api/test_task_service.py
  backend/tests/api/test_test_data_service.py
  backend/tests/api/test_websites_service.py
Due: check-file-size-limits

Fix offline store cleanup and write queue build errors
  ios/sideBar/sideBar/Services/Offline/OfflineStore.swift
  ios/sideBar/sideBar/Services/Offline/WriteQueue.swift
Due: swiftlint, ios-doc-comments

Mark backend offline sync workstream complete
  docs/plans/2026-01-30-offline-sync.md
Due: none

Change Notes widgets to display pinned notes only
  ios/sideBar/sideBar/Stores/NotesStore.swift
  ios/sideBar/sideBar/Utilities/WidgetContentType.swift
  ios/sideBar/sideBar/Utilities/WidgetDataManager.swift
  ios/sideBar/sideBarWidgets/Providers/PinnedNotesProvider.swift
  ios/sideBar/sideBarWidgets/WidgetContentType.swift
  ios/sideBar/sideBarWidgets/WidgetModels.swift
  ios/sideBar/sideBarWidgets/Widgets/LockScreenNotesWidgets.swift
  ios/sideBar/sideBarWidgets/Widgets/PinnedNotesWidget.swift
  ios/sideBar/sideBarWidgets/sideBarWidgetsBundle.swift
Due: swiftlint

Add website widgets for pinned sites
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
  ios/sideBar/sideBar/Utilities/WidgetContentType.swift
  ios/sideBar/sideBar/Utilities/WidgetDataManager.swift
  ios/sideBar/sideBarWidgets/Providers/PinnedSitesProvider.swift
  ios/sideBar/sideBarWidgets/WidgetContentType.swift
  ios/sideBar/sideBarWidgets/WidgetModels.swift
  ios/sideBar/sideBarWidgets/Widgets/LockScreenSitesWidgets.swift
  ios/sideBar/sideBarWidgets/Widgets/PinnedSitesWidget.swift
  ios/sideBar/sideBarWidgets/sideBarWidgetsBundle.swift
Due: swiftlint

Change website widgets to show saved sites instead of pinned
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
  ios/sideBar/sideBar/Utilities/WidgetContentType.swift
  ios/sideBar/sideBarWidgets/Providers/SavedSitesProvider.swift
  ios/sideBar/sideBarWidgets/WidgetContentType.swift
  ios/sideBar/sideBarWidgets/WidgetModels.swift
  ios/sideBar/sideBarWidgets/Widgets/LockScreenSitesWidgets.swift
  ios/sideBar/sideBarWidgets/Widgets/SavedSitesWidget.swift
  ios/sideBar/sideBarWidgets/sideBarWidgetsBundle.swift
Due: swiftlint

Hide empty sections in websites sidebar
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
Due: swiftlint

Add missing widget model properties to app target
  ios/sideBar/sideBar/Utilities/WidgetDataManager.swift
Due: swiftlint

Implement offline sync for websites and files
  docs/plans/2026-01-30-offline-sync.md
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/App/NetworkStatusProviding.swift
  ios/sideBar/sideBar/Models/FileModels.swift
  ios/sideBar/sideBar/Models/WebsiteModels.swift
  ios/sideBar/sideBar/Services/Network/IngestionAPI.swift
  ios/sideBar/sideBar/Services/Network/WebsitesAPI.swift
  ios/sideBar/sideBar/Services/Offline/FilesWriteQueueExecutor.swift
  ios/sideBar/sideBar/Services/Offline/WebsitesWriteQueueExecutor.swift
  ios/sideBar/sideBar/Services/Realtime/RealtimeMappers.swift
  ios/sideBar/sideBar/Stores/IngestionStore+Helpers.swift
  ios/sideBar/sideBar/Stores/IngestionStore+Offline.swift
  ios/sideBar/sideBar/Stores/IngestionStore+Realtime.swift
  ios/sideBar/sideBar/Stores/IngestionStore.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Private.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Public.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
  ios/sideBar/sideBarTests/ChatViewModelTests.swift
  ios/sideBar/sideBarTests/IngestionStoreTests.swift
  ios/sideBar/sideBarTests/IngestionViewModelTests.swift
  ios/sideBar/sideBarTests/NotesEditorViewModelTests.swift
  ios/sideBar/sideBarTests/NotesStoreTests.swift
  ios/sideBar/sideBarTests/NotesViewModelTests.swift
  ios/sideBar/sideBarTests/TasksStoreTests.swift
  ios/sideBar/sideBarTests/WebsitesStoreTests.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: swiftlint, ios-doc-comments

Fix ingestion store access after split
  ios/sideBar/sideBar/Stores/IngestionStore+Helpers.swift
  ios/sideBar/sideBar/Stores/IngestionStore.swift
Due: swiftlint

Stabilize DB connections for pooler
  backend/api/db/session.py
Due: none

Treat offline as network-only in connectivity monitor
  ios/sideBar/sideBar/App/ConnectivityMonitor.swift
Due: swiftlint

Exclude archived websites from list/offline cache
  backend/api/routers/websites.py
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
Due: swiftlint, check-file-size-limits

Add offline archived + backend resilience plan
  docs/plans/2026-01-31-offline-archived-backend-resilience.md
Due: none

Rename website widgets from Sites to Websites
  ios/sideBar/sideBarWidgets/Widgets/LockScreenSitesWidgets.swift
  ios/sideBar/sideBarWidgets/Widgets/SavedSitesWidget.swift
Due: swiftlint

Adjust website widget font sizes
  ios/sideBar/sideBarWidgets/Widgets/SavedSitesWidget.swift
Due: swiftlint

Fix notes widget crash from unencoded URL paths
  ios/sideBar/sideBarWidgets/Widgets/PinnedNotesWidget.swift
Due: swiftlint

Show subtitles only in large widgets
  ios/sideBar/sideBarWidgets/Widgets/SavedSitesWidget.swift
  ios/sideBar/sideBarWidgets/Widgets/TodayTasksWidget.swift
Due: swiftlint

Harden DB routes with sync handlers and fast-fail
  backend/api/config.py
  backend/api/db/session.py
  backend/api/main.py
  backend/api/middleware/error_handler.py
  backend/api/routers/conversations.py
  backend/api/routers/device_tokens.py
  backend/api/routers/ingestion.py
  backend/api/routers/memories.py
  backend/api/routers/notes.py
  backend/api/routers/notes_folders.py
  backend/api/routers/scratchpad.py
  backend/api/routers/settings.py
  backend/api/routers/tasks.py
  dev.sh
Due: check-file-size-limits

Add archived website list and offline header caching
  backend/api/routers/websites.py
  backend/api/services/websites_service.py
  ios/sideBar/sideBar/Services/Network/WebsitesAPI.swift
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
  ios/sideBar/sideBarTests/WebsitesStoreTests.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: swiftlint, ios-doc-comments, check-file-size-limits

Limit archived note content caching
  ios/sideBar/sideBar/Stores/NotesStore+Offline.swift
  ios/sideBar/sideBar/Stores/NotesStore.swift
  ios/sideBar/sideBarTests/NotesStoreTests.swift
Due: swiftlint

Prune stale archived note cache
  .env.example
  ios/sideBar/sideBar/Stores/NotesStore+Offline.swift
Due: swiftlint
