Repository seanbetts/sidebar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swiftlint, ios-doc-comments, check-file-size-limits

prettier:
  name: prettier
  entry: node frontend/node_modules/.bin/prettier --config frontend/.prettierrc --plugin ./frontend/node_modules/prettier-plugin-svelte/plugin.js --write
  language: system

swiftlint:
  name: swiftlint
  entry: bash -lc 'cd ios/sideBar && swiftlint --strict'
  language: system
  pass_filenames: false

ios-doc-comments:
  name: ios-doc-comments
  entry: python scripts/check_ios_doc_comments.py
  language: system
  pass_filenames: false

check-file-size-limits:
  name: check-file-size-limits
  entry: python scripts/check_file_sizes.py
  language: system

frontend: align websites empty-state with iOS/macOS
  docs/plans/2026-02-06-web-ios-macos-parity-checklist.md
  frontend/src/lib/components/websites/WebsitesPanel.svelte
  frontend/src/tests/components/websites-panel.test.ts
Due: prettier, check-file-size-limits

frontend: rename sidebar workspace css classes to files
  docs/plans/2026-02-06-web-ios-macos-parity-checklist.md
  frontend/src/lib/components/left-sidebar/FilesPanelController.svelte
  frontend/src/lib/components/left-sidebar/files/FilesUploadsSection.svelte
Due: prettier, check-file-size-limits

docs: remove completed web-ios-macos parity checklist plan
  docs/plans/2026-02-06-web-ios-macos-parity-checklist.md
Due: none

chore: remove one-off reading time backfill script
  backend/scripts/backfill_websites_reading_time.py
Due: none

Scripts clean up
  backend/scripts/backfill_favicons.py
  backend/scripts/backfill_task_recurrence_anchor.py
  backend/scripts/migrate_existing_websites.py
Due: none

fix: route GoodLinks import through full website ingestion pipeline
  backend/scripts/import_goodlinks_sample.py
Due: none

fix(ios): replace NSColor resolvedColor call for cloud build
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
Due: swiftlint

fix(ios): guard optional NSAppearance in horizontal rule draw
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
Due: swiftlint

fix(ios): replace deprecated NSAppearance.current usage
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
Due: swiftlint

fix(ios): remove ambiguous currentDrawingAppearance fallback
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
Due: swiftlint

fix(ios): match websites archive layout to notes panel behavior
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
Due: swiftlint

fix(ios): always show archive loading indicator during refresh
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+Helpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+TreeHelpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
Due: swiftlint

fix(ios): keep archive loading active until refresh completes
  ios/sideBar/sideBar/Stores/NotesStore.swift
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
Due: swiftlint

fix(ios): use subtle archive refresh indicator when items already loaded
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+Helpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
Due: swiftlint

Add website Copy Title action across web and Apple apps
  frontend/src/lib/components/websites/WebsiteHeader.svelte
  frontend/src/lib/components/websites/WebsiteRow.svelte
  frontend/src/lib/components/websites/WebsitesPanel.svelte
  frontend/src/lib/components/websites/WebsitesViewer.svelte
  frontend/src/tests/components/website-row.test.ts
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel+ContextMenu.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
Due: prettier, swiftlint, check-file-size-limits

fix(ios): make archive loading and empty states mutually exclusive
  backend/api/routers/ingestion_helpers.py
  backend/api/services/url_normalization_service.py
  backend/api/services/website_transcript_service.py
  backend/api/services/websites_utils.py
  backend/tests/api/test_ingestion_helpers.py
  backend/tests/api/test_websites_service.py
  backend/tests/services/test_url_normalization_service.py
  backend/tests/services/test_website_transcript_service.py
  docs/plans/2026-02-07-youtube-url-normalization-rollout-checklist.md
  ios/sideBar/ShareExtension/ShareViewController.swift
  ios/sideBar/sideBar Safari Extension (macOS) Extension/SafariWebExtensionHandler.swift
  ios/sideBar/sideBar Safari Extension/SafariWebExtensionHandler.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+Helpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+TreeHelpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
Due: swiftlint, check-file-size-limits

Plans clean up
  docs/plans/2026-02-06-web-ios-macos-parity-plan.md
Due: none

Align iOS and web YouTube parsing with strict shared rules
  docs/plans/2026-02-07-youtube-url-normalization-rollout-checklist.md
  frontend/src/lib/components/files/UniversalViewerController.svelte
  frontend/src/lib/components/websites/WebsitesViewer.svelte
  frontend/src/lib/utils/youtube.ts
  frontend/src/tests/lib/utils/youtube.test.ts
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Private.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+YouTube.swift
  ios/sideBar/sideBarTests/IngestionViewModelTests.swift
Due: prettier, swiftlint, ios-doc-comments, check-file-size-limits

Add tested shared routing for pending/share/safari URL handling
  docs/plans/2026-02-07-youtube-url-normalization-rollout-checklist.md
  ios/sideBar/ShareExtension/ShareViewController.swift
  ios/sideBar/sideBar Safari Extension (macOS) Extension/SafariWebExtensionHandler.swift
  ios/sideBar/sideBar Safari Extension/SafariWebExtensionHandler.swift
  ios/sideBar/sideBar/App/AppEnvironment+PendingShares.swift
  ios/sideBar/sideBarShared/Utilities/ExtensionURLMessageHandler.swift
  ios/sideBar/sideBarShared/Utilities/ShareExtensionURLQueueHandler.swift
  ios/sideBar/sideBarTests/PendingShareStoreTests.swift
Due: swiftlint

docs: add extension message normalization plan
  docs/plans/2026-02-07-extension-share-safari-message-normalization-plan.md
Due: none

test: cover youtube website-save vs explicit ingestion flows
  docs/plans/2026-02-07-youtube-url-normalization-rollout-checklist.md
  frontend/src/tests/lib/hooks/useIngestionUploads.test.ts
  frontend/src/tests/stores/websites.test.ts
Due: prettier

docs: add youtube URL routing policy and update rollout checklist
  docs/plans/2026-02-07-youtube-url-normalization-rollout-checklist.md
  docs/url-policy-youtube-routing.md
Due: none

docs: expand extension failure-message normalization plan
  docs/plans/2026-02-07-extension-share-safari-message-normalization-plan.md
Due: none

Centralised YouTube routing
  docs/ARCHITECTURE.md
Due: none

docs celan up
  docs/url-policy-youtube-routing.md
Due: none

docs: reconcile youtube rollout checklist drift
  docs/plans/2026-02-07-youtube-url-normalization-rollout-checklist.md
Due: none

refactor: split website viewer embed transforms and close size-limit checklist
  docs/plans/2026-02-07-youtube-url-normalization-rollout-checklist.md
  frontend/src/lib/components/websites/WebsitesViewer.svelte
  frontend/src/lib/components/websites/viewerEmbedTransforms.ts
Due: prettier, check-file-size-limits

docs: add final status summary to youtube rollout checklist
  docs/plans/2026-02-07-youtube-url-normalization-rollout-checklist.md
Due: none

fix: normalize safari youtube URLs and harden website dedupe
  backend/api/services/jina_service.py
  backend/api/services/web_save_parser.py
  backend/api/services/websites_service.py
  backend/skills/web-save/scripts/save_url.py
  backend/tests/api/test_websites_service.py
  backend/tests/services/test_jina_service.py
  backend/tests/skills/web_save/test_web_save_parser.py
  ios/sideBar/sideBarShared/Utilities/ExtensionURLMessageHandler.swift
  ios/sideBar/sideBarTests/PendingShareStoreTests.swift
Due: swiftlint, check-file-size-limits

fix: remove duplicate safari save trigger and wire BGTask ids
  ios/sideBar/Config/SideBar.local.xcconfig.example
  ios/sideBar/sideBar Safari Extension/Resources/background.js
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
Due: none

feat: render youtube embeds in websites markdown view
  ios/sideBar/sideBar/Utilities/MarkdownRendering.swift
  ios/sideBar/sideBar/Views/SideBarMarkdown.swift
  ios/sideBar/sideBarTests/MarkdownRenderingTests.swift
Due: swiftlint

feat: add youtube transcript CTA to native websites viewer
  ios/sideBar/sideBar/Models/WebsiteModels.swift
  ios/sideBar/sideBar/Services/Network/WebsitesAPI.swift
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
  ios/sideBar/sideBar/Utilities/MarkdownRendering.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBar/Views/SideBarMarkdown.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
  ios/sideBar/sideBarTests/MarkdownRenderingTests.swift
  ios/sideBar/sideBarTests/WebsitesStoreTests.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: swiftlint, ios-doc-comments

refactor: centralize YouTube URL policy and transcript pending state
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/Utilities/MarkdownRendering.swift
  ios/sideBar/sideBar/Utilities/YouTubeURLPolicy.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Private.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+YouTube.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBar/Views/SideBarMarkdown.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: swiftlint, ios-doc-comments

ios: unify app plist and enforce BG task identifiers
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/App/AppLaunchDelegate.swift
  ios/sideBar/sideBar/Info.plist
Due: swiftlint

ios: skip APNs registration on simulator
  ios/sideBar/sideBar/App/AppEnvironment+Push.swift
Due: swiftlint

youtube-download: tolerate missing yt-dlp cookie file
  backend/skills/youtube-download/scripts/download_video.py
  backend/tests/skills/test_youtube_download.py
Due: none

ios: fix connectivity monitor test compile issues
  ios/sideBar/sideBarTests/ConnectivityMonitorTests.swift
Due: swiftlint

ios: gate transcript button on YouTube iframe load
  ios/sideBar/sideBar/Views/SideBarMarkdown.swift
  ios/sideBar/sideBar/Views/YouTubePlayerView.swift
Due: swiftlint

ios: harden environment config URL parsing
  ios/sideBar/sideBarShared/Utilities/EnvironmentConfig+Load.swift
  ios/sideBar/sideBarTests/EnvironmentConfigLoadTests.swift
Due: swiftlint

Plan cleanse
  docs/plans/2026-02-07-youtube-url-normalization-rollout-checklist.md
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|js|svelte|json|md|yml|yaml)$
  swiftlint: any of: ^ios/.*\.swift$
  ios-doc-comments: any of: ^ios/sideBar/sideBar/(ViewModels|Services)/.*\.swift$
  check-file-size-limits: any of: ^(backend/api/services|backend/api/routers|frontend/src/lib/components|frontend/src/lib/stores)/.*\.(py|ts|svelte)$
