Repository seanbetts/sidebar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swiftlint, ios-doc-comments, check-file-size-limits

.pre-commit-config.yaml:

repos:
  # Python - Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--config=backend/pyproject.toml, --fix]
        files: ^backend/(api|workers)/.*\.py$
      - id: ruff-format
        args: [--config=backend/pyproject.toml]
        files: ^backend/(api|workers)/.*\.py$

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/api/(?!alembic/).*\.py$
        args: [--config-file=backend/pyproject.toml]
        additional_dependencies:
          - sqlalchemy[mypy]
          - pydantic
          - fastapi
          - types-requests

  # Python - Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        pass_filenames: false
        args: [--fail-under=80, --verbose, --ignore-init-method, --exclude=backend/api/alembic, backend/api]
        files: ^backend/api/

  # Python - Docstring style
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: [--convention=google]
        files: ^backend/api/(?!alembic/versions/).*\.py$

  # Frontend - Prettier formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node frontend/node_modules/.bin/prettier --config frontend/.prettierrc --plugin ./frontend/node_modules/prettier-plugin-svelte/plugin.js --write
        language: system
        files: ^frontend/.*\.(ts|js|svelte|json|md|yml|yaml)$

  # iOS - Xcode tests (manual only)
  - repo: local
    hooks:
      - id: swiftlint
        name: swiftlint
        entry: bash -lc 'cd ios/sideBar && swiftlint --strict'
        language: system
        files: ^ios/.*\.swift$
        pass_filenames: false
      - id: ios-doc-comments
        name: ios-doc-comments
        entry: python scripts/check_ios_doc_comments.py
        language: system
        files: ^ios/sideBar/sideBar/(ViewModels|Services)/.*\.swift$
        pass_filenames: false
      - id: ios-tests
        name: ios-tests
        entry: scripts/test-ios.sh
        language: system
        files: ^ios/
        pass_filenames: false
        stages: [manual]

  # Frontend - ESLint (all files)
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.17.0
    hooks:
      - id: eslint
        files: ^frontend/src/.*\.(ts|js|svelte)$
        args: [--fix, --max-warnings=0]
        additional_dependencies:
          - eslint@9.39.2
          - eslint-plugin-jsdoc@61.5.0
          - eslint-plugin-svelte@2.46.1
          - svelte-eslint-parser@1.4.1
          - '@typescript-eslint/eslint-plugin@8.50.1'
          - '@typescript-eslint/parser@8.50.1'

  # General - File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]

  # Custom - File size limits
  - repo: local
    hooks:
      - id: check-file-size-limits
        name: check-file-size-limits
        entry: python scripts/check_file_sizes.py
        language: system
        files: ^(backend/api/services|backend/api/routers|frontend/src/lib/components|frontend/src/lib/stores)/.*\.(py|ts|svelte)$

Fix macOS widget embedding
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownImporter.swift
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownShortcutProcessor.swift
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
Due: swiftlint, ios-doc-comments

Fix task navigation and widget overdue styling
  ios/sideBar/sideBar/ViewModels/TasksViewModel.swift
  ios/sideBar/sideBar/Views/ContentView+Phone.swift
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
  ios/sideBar/sideBar/Views/SidebarPanels/TasksPanel.swift
  ios/sideBar/sideBar/Views/TasksView.swift
  ios/sideBar/sideBarWidgets/Widgets/TodayTasksWidget.swift
Due: swiftlint, ios-doc-comments

Adjust tasks defaults and widget styling
  ios/sideBar/sideBar/Models/TaskModels.swift
  ios/sideBar/sideBar/Stores/TasksStore.swift
  ios/sideBar/sideBar/Utilities/TasksUtils.swift
  ios/sideBar/sideBar/ViewModels/TasksViewModel.swift
  ios/sideBar/sideBar/Views/ContentView+Lifecycle.swift
  ios/sideBar/sideBar/Views/TasksView.swift
  ios/sideBar/sideBarWidgets/Widgets/TodayTasksWidget.swift
Due: swiftlint, ios-doc-comments

Improve tasks UX on iPhone and widgets
  ios/sideBar/ShareExtension/Info.plist
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/App/AppEnvironment+Auth.swift
  ios/sideBar/sideBar/App/AppEnvironment+DeepLink.swift
  ios/sideBar/sideBar/Views/SidebarPanels/TasksPanel.swift
  ios/sideBar/sideBar/Views/TasksView.swift
  ios/sideBar/sideBar/Views/TasksViewComponents.swift
  ios/sideBar/sideBarWidgets/Info.plist
Due: swiftlint

Update app badge for today's tasks
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
Due: swiftlint

Use UNUserNotificationCenter badge API
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
Due: swiftlint

Improve task editing interactions
  ios/sideBar/sideBar/Views/TasksModals+Notes.swift
  ios/sideBar/sideBar/Views/TasksView.swift
  ios/sideBar/sideBar/Views/TasksViewComponents.swift
Due: swiftlint

Add near-realtime sync implementation plan
  docs/plans/2026-01-28-near-realtime-sync.md
Due: none

Add backend near-realtime sync scaffolding
  backend/api/alembic/versions/20260128_1200-039_add_device_tokens.py
  backend/api/config.py
  backend/api/main.py
  backend/api/models/__init__.py
  backend/api/models/device_token.py
  backend/api/routers/device_tokens.py
  backend/api/routers/events.py
  backend/api/routers/tasks.py
  backend/api/services/change_bus.py
  backend/api/services/device_token_service.py
  backend/api/services/push_notification_service.py
  backend/api/services/task_change_service.py
  backend/tests/api/test_device_tokens_router.py
  backend/tests/conftest.py
  backend/tests/services/test_task_change_service.py
Due: check-file-size-limits

Refactor widget storage to generic architecture
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
  ios/sideBar/sideBar/Utilities/WidgetContentType.swift
  ios/sideBar/sideBar/Utilities/WidgetDataManager.swift
  ios/sideBar/sideBar/Utilities/WidgetPendingOperation.swift
  ios/sideBar/sideBar/Utilities/WidgetStorable.swift
  ios/sideBar/sideBarWidgets/WidgetContentType.swift
  ios/sideBar/sideBarWidgets/WidgetDataManager.swift
  ios/sideBar/sideBarWidgets/WidgetModels.swift
  ios/sideBar/sideBarWidgets/WidgetPendingOperation.swift
  ios/sideBar/sideBarWidgets/WidgetStorable.swift
Due: swiftlint

Update iOS extensions plan with widget architecture
  docs/plans/IOS_EXTENSIONS_PLAN.md
Due: none

Docs clean up
  docs/plans/2026-01-24-native-attributedstring-rich-text-editor.md
  docs/plans/2026-01-25-unified-native-markdown-renderer.md
Due: none

Wire near-realtime task updates
  frontend/src/lib/realtime/task_events.ts
  frontend/src/routes/+layout.svelte
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/App/AppEnvironment+Auth.swift
  ios/sideBar/sideBar/App/AppEnvironment+Push.swift
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/App/AppLaunchDelegate.swift
  ios/sideBar/sideBar/App/ServiceContainer.swift
  ios/sideBar/sideBar/Services/Network/DeviceTokensAPI.swift
  ios/sideBar/sideBar/sideBar.entitlements
Due: prettier, swiftlint, ios-doc-comments

Finish near-realtime sync wiring
  backend/api/services/device_token_service.py
  backend/api/services/push_notification_service.py
  frontend/src/tests/realtime/task-events.test.ts
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/App/AppEnvironment+Auth.swift
  ios/sideBar/sideBar/App/AppEnvironment+Push.swift
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/App/MacAppDelegate.swift
  ios/sideBar/sideBar/sideBarApp.swift
Due: prettier, swiftlint, check-file-size-limits

Update widget task operations
  ios/sideBar/sideBar/App/AppEnvironment+Auth.swift
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/ViewModels/TasksViewModel.swift
  ios/sideBar/sideBar/sideBarApp.swift
Due: swiftlint, ios-doc-comments

Document APNs env vars
  .env.example
Due: none

Document APNs env usage
  docs/DEPLOYMENT.md
  docs/LOCAL_DEVELOPMENT.md
Due: none

Added puish notifications
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
Due: none

Log push entitlement status
  ios/sideBar/sideBar/App/AppEnvironment+Push.swift
Due: swiftlint

Fix push entitlement logging
  ios/sideBar/sideBar/App/AppEnvironment+Push.swift
Due: swiftlint

Add macOS APNs entitlement key
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/App/AppEnvironment+Push.swift
  ios/sideBar/sideBar/sideBar.entitlements
Due: swiftlint

Remove push entitlement logging
  ios/sideBar/sideBar/App/AppEnvironment+Push.swift
Due: swiftlint

Docs cleanup
  docs/plans/2026-01-28-near-realtime-sync.md
Due: none

Improve authentication reliability and security
  ios/sideBar/Config/SideBar.xcconfig
  ios/sideBar/ShareExtension/ShareExtensionEnvironment.swift
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/App/AppLaunchDelegate.swift
  ios/sideBar/sideBar/Resources/sidebar-api.cer
  ios/sideBar/sideBar/Services/Auth/AuthSession.swift
  ios/sideBar/sideBar/Services/Auth/SupabaseAuthAdapter.swift
  ios/sideBar/sideBar/Views/Auth/LoginView.swift
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
Due: swiftlint, ios-doc-comments

Fix iOS build warnings and QuickLook import
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/Utilities/ErrorMapping.swift
  ios/sideBar/sideBar/Views/FileViewerComponents.swift
Due: swiftlint

Align sideBarShared targets to 26.0
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
Due: swiftlint

Add offline write queue foundation
  ios/sideBar/SideBarCache.xcdatamodeld/SideBarCache.xcdatamodel/contents
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/Models/CoreData/LocalDraft+CoreDataClass.swift
  ios/sideBar/sideBar/Models/CoreData/LocalDraft+CoreDataProperties.swift
  ios/sideBar/sideBar/Models/CoreData/PendingWrite+CoreDataClass.swift
  ios/sideBar/sideBar/Models/CoreData/PendingWrite+CoreDataProperties.swift
  ios/sideBar/sideBar/Services/Offline/WriteQueue.swift
  ios/sideBar/sideBarTests/WriteQueueTests.swift
Due: swiftlint, ios-doc-comments

Persist note drafts for offline edits
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/Services/Offline/DraftStorage.swift
  ios/sideBar/sideBar/ViewModels/NotesEditorViewModel.swift
  ios/sideBar/sideBarTests/DraftStorageTests.swift
  ios/sideBar/sideBarTests/NotesEditorViewModelTests.swift
Due: swiftlint, ios-doc-comments

Persist chat messages and queue failed sends
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/Services/Cache/CacheKeys.swift
  ios/sideBar/sideBar/Services/Cache/CachePolicy.swift
  ios/sideBar/sideBar/Stores/ChatStore.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel+Realtime.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel+Streaming.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel.swift
  ios/sideBar/sideBarTests/ChatStoreTests.swift
  ios/sideBar/sideBarTests/ChatViewModelTests.swift
Due: swiftlint, ios-doc-comments

Persist local uploads and resume ingestion
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
  ios/sideBar/sideBar/Stores/IngestionStore.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Private.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Public.swift
  ios/sideBar/sideBarTests/IngestionStoreTests.swift
  ios/sideBar/sideBarTests/IngestionViewModelTests.swift
Due: swiftlint, ios-doc-comments

Add sync status UI and pending writes view
  ios/sideBar/sideBar/Design/Components/OfflineBanner.swift
  ios/sideBar/sideBar/Design/Components/SyncStatusIndicator.swift
  ios/sideBar/sideBar/Services/Offline/WriteQueue.swift
  ios/sideBar/sideBar/Views/Chat/ChatView.swift
  ios/sideBar/sideBar/Views/FilesView.swift
  ios/sideBar/sideBar/Views/IngestionDetailView.swift
  ios/sideBar/sideBar/Views/NotesView.swift
  ios/sideBar/sideBar/Views/Settings/PendingWritesView.swift
  ios/sideBar/sideBar/Views/SettingsSections.swift
  ios/sideBar/sideBar/Views/SiteHeaderBar.swift
  ios/sideBar/sideBar/Views/TasksView.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
  ios/sideBar/sideBarTests/WriteQueueTests.swift
Due: swiftlint, ios-doc-comments

Add note conflict resolution flow
  ios/sideBar/sideBar/Models/NoteSyncConflict.swift
  ios/sideBar/sideBar/ViewModels/NotesEditorViewModel.swift
  ios/sideBar/sideBar/Views/Notes/ConflictResolutionSheet.swift
  ios/sideBar/sideBar/Views/NotesView.swift
  ios/sideBar/sideBarTests/NotesEditorViewModelTests.swift
Due: swiftlint, ios-doc-comments

Fix build errors in offline support
  ios/sideBar/sideBar/Services/Offline/DraftStorage.swift
  ios/sideBar/sideBar/Services/Offline/WriteQueue.swift
  ios/sideBar/sideBar/Stores/IngestionStore.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Private.swift
  ios/sideBar/sideBar/ViewModels/NotesEditorViewModel.swift
  ios/sideBar/sideBarTests/DraftStorageTests.swift
  ios/sideBar/sideBarTests/NotesEditorViewModelTests.swift
Due: swiftlint, ios-doc-comments

Fix conflict sheet nav title on macOS
  ios/sideBar/sideBar/Views/Notes/ConflictResolutionSheet.swift
Due: swiftlint

Improve connectivity detection and offline banner
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/App/ConnectivityMonitor.swift
  ios/sideBar/sideBar/Design/Components/OfflineBanner.swift
  ios/sideBar/sideBar/Models/NoteSyncConflict.swift
  ios/sideBar/sideBar/Services/Offline/WriteQueue.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel+Conversations.swift
  ios/sideBar/sideBar/ViewModels/NotesEditorViewModel.swift
  ios/sideBar/sideBar/Views/NotesView.swift
  ios/sideBar/sideBar/Views/SiteHeaderBar.swift
  ios/sideBar/sideBarShared/Network/APIClient.swift
  ios/sideBar/sideBarTests/ChatViewModelTests.swift
  ios/sideBar/sideBarTests/NotesEditorViewModelTests.swift
  ios/sideBar/sideBarTests/WriteQueueTests.swift
Due: swiftlint, ios-doc-comments

Remove per-view offline banners
  ios/sideBar/sideBar/Views/Chat/ChatView.swift
  ios/sideBar/sideBar/Views/FilesView.swift
  ios/sideBar/sideBar/Views/IngestionDetailView.swift
  ios/sideBar/sideBar/Views/TasksView.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
Due: swiftlint

Disable chat sending when offline
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel+Conversations.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel+Realtime.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel.swift
  ios/sideBar/sideBar/Views/Chat/ChatView.swift
  ios/sideBar/sideBarTests/ChatViewModelTests.swift
Due: swiftlint, ios-doc-comments

Refine offline banner placement and sizing
  ios/sideBar/sideBar/Design/Components/OfflineBanner.swift
  ios/sideBar/sideBar/Design/Components/PanelHeader.swift
  ios/sideBar/sideBar/Views/FilesView.swift
  ios/sideBar/sideBar/Views/TasksView.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
Due: swiftlint

Offline improvements
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/App/ConnectivityMonitor.swift
  ios/sideBar/sideBar/App/NetworkStatusProviding.swift
  ios/sideBar/sideBar/Design/Components/PanelHeader.swift
  ios/sideBar/sideBar/Services/Auth/SupabaseAuthAdapter.swift
  ios/sideBar/sideBar/Stores/NotesStore.swift
  ios/sideBar/sideBar/ViewModels/NotesViewModel.swift
  ios/sideBar/sideBar/Views/Auth/LoginView.swift
  ios/sideBar/sideBar/Views/FilesView.swift
  ios/sideBar/sideBar/Views/SiteHeaderBar.swift
  ios/sideBar/sideBar/Views/TasksView.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
  ios/sideBar/sideBarTests/NotesEditorViewModelTests.swift
  ios/sideBar/sideBarTests/NotesViewModelTests.swift
  ios/sideBar/sideBarTests/SupabaseAuthAdapterTests.swift
Due: swiftlint, ios-doc-comments
