Repository seanbetts/sidebar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swiftlint, ios-doc-comments, check-file-size-limits

prettier:
  name: prettier
  entry: node frontend/node_modules/.bin/prettier --config frontend/.prettierrc --plugin ./frontend/node_modules/prettier-plugin-svelte/plugin.js --write
  language: system

swiftlint:
  name: swiftlint
  entry: bash -lc 'cd ios/sideBar && swiftlint --strict'
  language: system
  pass_filenames: false

ios-doc-comments:
  name: ios-doc-comments
  entry: python scripts/check_ios_doc_comments.py
  language: system
  pass_filenames: false

check-file-size-limits:
  name: check-file-size-limits
  entry: python scripts/check_file_sizes.py
  language: system

Improve tasks widget reliability with multi-layer refresh
  ios/sideBar/Config/SideBar.xcconfig
  ios/sideBar/sideBar/App/AppEnvironment+Push.swift
  ios/sideBar/sideBar/App/AppLaunchDelegate.swift
  ios/sideBar/sideBar/ViewModels/TasksViewModel+Operations.swift
  ios/sideBar/sideBar/ViewModels/TasksViewModel.swift
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
  ios/sideBar/sideBarWidgets/Providers/TodayTasksProvider.swift
Due: swiftlint, ios-doc-comments

Extend widget refresh to notes and websites
  ios/sideBar/sideBar/App/AppEnvironment+Push.swift
  ios/sideBar/sideBar/App/AppLaunchDelegate.swift
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
  ios/sideBar/sideBar/ViewModels/NotesViewModel.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
Due: swiftlint, ios-doc-comments

Add archived notes tree endpoint
  backend/api/routers/notes.py
  backend/api/services/notes_service.py
  backend/api/services/notes_workspace_service.py
  ios/sideBar/sideBar/Services/Cache/CacheKeys.swift
  ios/sideBar/sideBar/Services/Network/NotesAPI.swift
  ios/sideBar/sideBar/Stores/NotesStore+Offline.swift
  ios/sideBar/sideBar/Stores/NotesStore.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+Helpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel.swift
  ios/sideBar/sideBarTests/NotesEditorViewModelTests.swift
  ios/sideBar/sideBarTests/NotesStoreTests.swift
  ios/sideBar/sideBarTests/NotesViewModelTests.swift
Due: swiftlint, ios-doc-comments, check-file-size-limits

Update WebsitesPanel onChange handler
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
Due: swiftlint

Fix archived note filtering
  backend/api/services/notes_service.py
  backend/api/services/notes_workspace_service.py
Due: check-file-size-limits

feat: Add pinned files widget with background refresh support
  ios/sideBar/sideBar/App/AppEnvironment+Push.swift
  ios/sideBar/sideBar/App/AppLaunchDelegate.swift
  ios/sideBar/sideBar/Stores/IngestionStore+Helpers.swift
  ios/sideBar/sideBar/Utilities/WidgetDataManager.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Public.swift
  ios/sideBar/sideBarWidgets/Providers/PinnedFilesProvider.swift
  ios/sideBar/sideBarWidgets/Widgets/PinnedFilesWidget.swift
  ios/sideBar/sideBarWidgets/sideBarWidgetsBundle.swift
Due: swiftlint, ios-doc-comments

Fix archived list pagination ordering
  backend/api/services/notes_service.py
  backend/api/services/websites_service.py
  ios/sideBar/sideBarWidgets/Widgets/PinnedFilesWidget.swift
Due: swiftlint, check-file-size-limits

Update archived backend resilience plan status
  docs/plans/2026-01-31-offline-archived-backend-resilience.md
Due: none

fix: Use correct file type icons in pinned files widget
  ios/sideBar/sideBar/Stores/IngestionStore+Helpers.swift
  ios/sideBar/sideBar/Utilities/WidgetDataManager.swift
  ios/sideBar/sideBarWidgets/WidgetModels.swift
  ios/sideBar/sideBarWidgets/Widgets/PinnedFilesWidget.swift
Due: swiftlint

docs: Update iOS extensions plan with widget progress
  docs/plans/IOS_EXTENSIONS_PLAN.md
Due: none

Add archived summary metadata to lists
  backend/api/routers/notes.py
  backend/api/routers/websites.py
  backend/api/services/notes_service.py
  backend/api/services/websites_service.py
  backend/tests/api/test_notes_service.py
  backend/tests/api/test_websites_service.py
Due: check-file-size-limits

docs: add OpenClaw concepts plan
  docs/plans/2026-01-31-openclaw-concepts-for-sidebar.md
Due: none

docs: add OpenClaw references
  docs/plans/2026-01-31-openclaw-concepts-for-sidebar.md
Due: none

Use archived summary to refresh offline cache
  ios/sideBar/sideBar/Models/FileModels.swift
  ios/sideBar/sideBar/Models/WebsiteModels.swift
  ios/sideBar/sideBar/Services/Cache/CacheKeys.swift
  ios/sideBar/sideBar/Stores/NotesStore+Offline.swift
  ios/sideBar/sideBar/Stores/NotesStore.swift
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
Due: swiftlint, ios-doc-comments

Clarify archived empty states
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+Helpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
Due: swiftlint, ios-doc-comments

docs: add OpenClaw doc links
  docs/plans/2026-01-31-openclaw-concepts-for-sidebar.md
Due: none

docs: expand OpenClaw references
  docs/plans/2026-01-31-openclaw-concepts-for-sidebar.md
Due: none

Update offline archived resilience plan status
  docs/plans/2026-01-31-offline-archived-backend-resilience.md
Due: none

docs: add OpenClaw doc context
  docs/plans/2026-01-31-openclaw-concepts-for-sidebar.md
Due: none

docs: expand OpenClaw detail notes
  docs/plans/2026-01-31-openclaw-concepts-for-sidebar.md
Due: none

docs: expand remaining OpenClaw details
  docs/plans/2026-01-31-openclaw-concepts-for-sidebar.md
Due: none

Add generated notes is_archived column
  backend/api/alembic/versions/20260131_1530-041_add_notes_is_archived.py
  backend/api/models/note.py
  backend/api/services/notes_helpers.py
  backend/api/services/notes_service.py
  backend/api/services/notes_workspace_service.py
  backend/tests/api/test_notes_workspace_service.py
Due: check-file-size-limits

Add generated websites is_archived column
  backend/api/alembic/versions/20260131_1700-042_add_websites_is_archived.py
  backend/api/models/website.py
  backend/api/routers/websites_helpers.py
  backend/api/services/websites_service.py
  backend/api/services/websites_utils.py
Due: check-file-size-limits

Increase timeout for websites is_archived migration
  backend/api/alembic/versions/20260131_1700-042_add_websites_is_archived.py
Due: none

feat: Add lock screen widgets for files
  ios/sideBar/sideBar/Utilities/WidgetContentType.swift
  ios/sideBar/sideBarWidgets/WidgetContentType.swift
  ios/sideBar/sideBarWidgets/Widgets/LockScreenFilesWidgets.swift
  ios/sideBar/sideBarWidgets/sideBarWidgetsBundle.swift
Due: swiftlint

docs: Mark lock screen files widgets as complete
  docs/plans/IOS_EXTENSIONS_PLAN.md
Due: none

feat: Add App Intents for websites, files, scratchpad, and chat
  ios/sideBar/sideBar/Utilities/WidgetDataManager.swift
  ios/sideBar/sideBarWidgets/Intents/FileIntents.swift
  ios/sideBar/sideBarWidgets/Intents/GeneralIntents.swift
  ios/sideBar/sideBarWidgets/Intents/TaskIntents.swift
  ios/sideBar/sideBarWidgets/Intents/WebsiteIntents.swift
  ios/sideBar/sideBarWidgets/WidgetDataManager.swift
Due: swiftlint

feat: Add deep link handling for new App Intents
  ios/sideBar/sideBar/App/AppEnvironment+Auth.swift
  ios/sideBar/sideBar/App/AppEnvironment+DeepLink.swift
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
  ios/sideBar/sideBar/sideBarApp.swift
Due: swiftlint

docs: Mark App Intents as complete in iOS extensions plan
  docs/plans/IOS_EXTENSIONS_PLAN.md
Due: none

fix: Use static constant for pendingQuickSaveKey in extension
  ios/sideBar/sideBarWidgets/WidgetDataManager.swift
Due: swiftlint

fix: Compilation errors in deep link and intent handling
  ios/sideBar/sideBar/App/AppEnvironment+Auth.swift
  ios/sideBar/sideBar/App/AppEnvironment+DeepLink.swift
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
Due: swiftlint

fix: Wrap WidgetDataManager call in MainActor.run for Swift 6
  ios/sideBar/sideBar/sideBarApp.swift
Due: swiftlint

Default iPhone to Tasks and show group in widget
  ios/sideBar/sideBar/Utilities/WidgetDataManager.swift
  ios/sideBar/sideBar/ViewModels/TasksViewModel.swift
  ios/sideBar/sideBar/Views/ContentView+Lifecycle.swift
  ios/sideBar/sideBar/Views/ContentView.swift
  ios/sideBar/sideBarWidgets/WidgetModels.swift
  ios/sideBar/sideBarWidgets/Widgets/TodayTasksWidget.swift
Due: swiftlint, ios-doc-comments

fix: Change Siri phrase from "Chat with AI" to "Chat with sideBar"
  ios/sideBar/sideBarWidgets/Intents/TaskIntents.swift
Due: swiftlint

fix: Improve task widget and badge sync during offline operations
  ios/sideBar/sideBar/App/AppEnvironment+Selection.swift
  ios/sideBar/sideBar/Stores/TasksStore.swift
  ios/sideBar/sideBar/ViewModels/TasksViewModel+Operations.swift
  ios/sideBar/sideBar/ViewModels/TasksViewModel.swift
Due: swiftlint, ios-doc-comments

Switch websites is_archived to backfilled boolean
  backend/api/alembic/versions/20260131_1700-042_add_websites_is_archived.py
  backend/api/models/website.py
  backend/api/services/websites_service.py
Due: check-file-size-limits

Relax lock timeout for websites is_archived migration
  backend/api/alembic/versions/20260131_1700-042_add_websites_is_archived.py
Due: none

fix: Apply consistent max content width for readability
  ios/sideBar/sideBar/Views/Chat/ChatMessageListView.swift
  ios/sideBar/sideBar/Views/TasksView.swift
Due: swiftlint

Add sidebar context menus for notes, files, and websites
  ios/sideBar/sideBar/Views/SidebarPanels/FilesPanel+ContextMenu.swift
  ios/sideBar/sideBar/Views/SidebarPanels/FilesPanel.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+ContextMenu.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+Helpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+TreeHelpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanelComponents.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel+ContextMenu.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
  ios/sideBar/sideBarWidgets/Widgets/PinnedFilesWidget.swift
  ios/sideBar/sideBarWidgets/Widgets/PinnedNotesWidget.swift
  ios/sideBar/sideBarWidgets/Widgets/SavedSitesWidget.swift
Due: swiftlint

Align header menu icon sizing
  ios/sideBar/sideBar/Design/Components/UIKitMenuButton.swift
  ios/sideBar/sideBar/Views/FilesView.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
Due: swiftlint

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|js|svelte|json|md|yml|yaml)$
  swiftlint: any of: ^ios/.*\.swift$
  ios-doc-comments: any of: ^ios/sideBar/sideBar/(ViewModels|Services)/.*\.swift$
  check-file-size-limits: any of: ^(backend/api/services|backend/api/routers|frontend/src/lib/components|frontend/src/lib/stores)/.*\.(py|ts|svelte)$
