Repository seanbetts/sidebar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swiftlint, ios-doc-comments, check-file-size-limits

.pre-commit-config.yaml:

repos:
  # Python - Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--config=backend/pyproject.toml, --fix]
        files: ^backend/(api|workers)/.*\.py$
      - id: ruff-format
        args: [--config=backend/pyproject.toml]
        files: ^backend/(api|workers)/.*\.py$

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/api/(?!alembic/).*\.py$
        args: [--config-file=backend/pyproject.toml]
        additional_dependencies:
          - sqlalchemy[mypy]
          - pydantic
          - fastapi
          - types-requests

  # Python - Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        pass_filenames: false
        args: [--fail-under=80, --verbose, --ignore-init-method, --exclude=backend/api/alembic, backend/api]
        files: ^backend/api/

  # Python - Docstring style
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: [--convention=google]
        files: ^backend/api/(?!alembic/versions/).*\.py$

  # Frontend - Prettier formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node frontend/node_modules/.bin/prettier --config frontend/.prettierrc --plugin ./frontend/node_modules/prettier-plugin-svelte/plugin.js --write
        language: system
        files: ^frontend/.*\.(ts|js|svelte|json|md|yml|yaml)$

  # iOS - Xcode tests (manual only)
  - repo: local
    hooks:
      - id: swiftlint
        name: swiftlint
        entry: bash -lc 'cd ios/sideBar && swiftlint --strict'
        language: system
        files: ^ios/.*\.swift$
        pass_filenames: false
      - id: ios-doc-comments
        name: ios-doc-comments
        entry: python scripts/check_ios_doc_comments.py
        language: system
        files: ^ios/sideBar/sideBar/(ViewModels|Services)/.*\.swift$
        pass_filenames: false
      - id: ios-tests
        name: ios-tests
        entry: scripts/test-ios.sh
        language: system
        files: ^ios/
        pass_filenames: false
        stages: [manual]

  # Frontend - ESLint (all files)
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.17.0
    hooks:
      - id: eslint
        files: ^frontend/src/.*\.(ts|js|svelte)$
        args: [--fix, --max-warnings=0]
        additional_dependencies:
          - eslint@9.39.2
          - eslint-plugin-jsdoc@61.5.0
          - eslint-plugin-svelte@2.46.1
          - svelte-eslint-parser@1.4.1
          - '@typescript-eslint/eslint-plugin@8.50.1'
          - '@typescript-eslint/parser@8.50.1'

  # General - File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]

  # Custom - File size limits
  - repo: local
    hooks:
      - id: check-file-size-limits
        name: check-file-size-limits
        entry: python scripts/check_file_sizes.py
        language: system
        files: ^(backend/api/services|backend/api/routers|frontend/src/lib/components|frontend/src/lib/stores)/.*\.(py|ts|svelte)$

youtube: remove cookie flow and fail fast on anti-bot blocks
  .env.example
  backend/docker/entrypoint.sh
  backend/fly.toml
  backend/skills/youtube-download/scripts/download_video.py
  backend/tests/skills/test_youtube_download.py
  backend/tests/workers/test_ingestion_worker.py
  backend/workers/ingestion_worker.py
Due: none

youtube: simplify extraction path and bump yt-dlp baseline
  .env.example
  backend/pyproject.toml
  backend/skills/youtube-download/scripts/download_video.py
  backend/tests/skills/test_youtube_download.py
Due: none

backend: update uv lock for yt-dlp upgrade
  backend/uv.lock
Due: none

youtube/websites: streamline transcript pipeline and refresh Apple UI
  backend/api/services/website_transcript_service.py
  backend/tests/api/test_website_transcript_service.py
  backend/tests/workers/test_ingestion_worker.py
  backend/workers/ingestion_worker.py
  ios/sideBar/sideBar/Models/WebsiteModels.swift
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: swiftlint, ios-doc-comments, check-file-size-limits

ios: add working new chat action on iPhone
  ios/sideBar/sideBar/Views/Chat/ChatView.swift
  ios/sideBar/sideBar/Views/SidebarPanels/ConversationsPanel.swift
  ios/sideBar/sideBar/Views/SidebarPanels/ConversationsPanelView+Helpers.swift
  ios/sideBar/sideBarTests/ChatViewModelTests.swift
Due: swiftlint

websites: hide transcript metadata in rendered transcript
  backend/api/services/website_transcript_service.py
  backend/tests/services/test_website_transcript_service.py
  frontend/src/lib/components/websites/viewerEmbedTransforms.ts
  frontend/src/tests/lib/components/viewer-embed-transforms.test.ts
  ios/sideBar/sideBar/Utilities/MarkdownRendering.swift
  ios/sideBar/sideBar/Views/SideBarMarkdown.swift
  ios/sideBar/sideBarTests/MarkdownRenderingTests.swift
Due: prettier, swiftlint, check-file-size-limits

fix(web): reset transcript link state after queue failure
  frontend/src/lib/components/websites/WebsitesViewer.svelte
  frontend/src/lib/components/websites/transcriptLinkState.ts
  frontend/src/tests/lib/components/transcript-link-state.test.ts
Due: prettier, check-file-size-limits

ios widgets: show completed checkmark before removing task
  ios/sideBar/sideBar/Utilities/WidgetDataManager.swift
  ios/sideBar/sideBarWidgets/Intents/TaskIntents.swift
  ios/sideBar/sideBarWidgets/Providers/TodayTasksProvider.swift
  ios/sideBar/sideBarWidgets/WidgetModels.swift
  ios/sideBar/sideBarWidgets/Widgets/TodayTasksWidget.swift
Due: swiftlint

ios: show immediate transcript button feedback
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBar/Views/SideBarMarkdown.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: swiftlint, ios-doc-comments

widgets: improve today task checkbox contrast
  ios/sideBar/sideBarWidgets/Widgets/TodayTasksWidget.swift
Due: swiftlint

ios tasks: force-refresh counts when requested
  ios/sideBar/sideBar/Stores/TasksStore.swift
  ios/sideBar/sideBarTests/TasksStoreTests.swift
Due: swiftlint

ios: refresh transcript button state in website markdown
  ios/sideBar/sideBar/Views/SideBarMarkdown.swift
Due: swiftlint

ios: show Watching pending title for YouTube website saves
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: swiftlint, ios-doc-comments

ios: fix ingestion center active states and clear-failed feedback
  ios/sideBar/sideBar/Utilities/StatusFilterable.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Public.swift
  ios/sideBar/sideBar/Views/IngestionCenterView.swift
  ios/sideBar/sideBarTests/IngestionViewModelTests.swift
  ios/sideBar/sideBarTests/StatusFilterableTests.swift
Due: swiftlint, ios-doc-comments

ios: mirror YouTube pending label in website detail loading
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: swiftlint, ios-doc-comments

Fix website delete conflict handling in sidebar
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: swiftlint, ios-doc-comments

fix: prevent offline ingestion data loss and stale isOffline state
  ios/sideBar/sideBar/App/AppEnvironment+PendingShares.swift
  ios/sideBar/sideBar/Stores/IngestionStore+Helpers.swift
  ios/sideBar/sideBarTests/PendingShareStoreTests.swift
Due: swiftlint

ios: add website svg fallback placeholder
  ios/sideBar/sideBar/Utilities/MarkdownRendering.swift
  ios/sideBar/sideBar/Views/SideBarMarkdown.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
  ios/sideBar/sideBarTests/MarkdownRenderingTests.swift
Due: swiftlint

ios: normalize extension messages and failure handling
  ios/sideBar/ShareExtension/ShareErrorView.swift
  ios/sideBar/ShareExtension/ShareExtensionEnvironment.swift
  ios/sideBar/ShareExtension/ShareExtensionMessageMapper.swift
  ios/sideBar/ShareExtension/ShareLoadingView.swift
  ios/sideBar/ShareExtension/ShareProgressView.swift
  ios/sideBar/ShareExtension/ShareStateView.swift
  ios/sideBar/ShareExtension/ShareSuccessView.swift
  ios/sideBar/ShareExtension/ShareViewController.swift
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/popup.css
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/popup.html
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/popup.js
  ios/sideBar/sideBar Safari Extension/Resources/popup.js
  ios/sideBar/sideBarShared/Utilities/ExtensionURLMessageHandler.swift
  ios/sideBar/sideBarShared/Utilities/ExtensionUserMessageCatalog.swift
  ios/sideBar/sideBarShared/Utilities/ShareExtensionURLQueueHandler.swift
  ios/sideBar/sideBarTests/ExtensionUserMessageCatalogTests.swift
  ios/sideBar/sideBarTests/PendingShareStoreTests.swift
Due: swiftlint

iOS settings reordering
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
Due: none

ios: add required init(coder:) for share state views
  ios/sideBar/ShareExtension/ShareErrorView.swift
  ios/sideBar/ShareExtension/ShareLoadingView.swift
  ios/sideBar/ShareExtension/ShareSuccessView.swift
Due: swiftlint

ios: normalize malformed linked images in website markdown
  ios/sideBar/sideBar/Utilities/MarkdownRendering.swift
  ios/sideBar/sideBarTests/MarkdownRenderingTests.swift
Due: swiftlint

web-save: apply substack host rules on custom domains
  backend/api/services/web_save_parser.py
  backend/tests/skills/web_save/test_web_save_parser.py
Due: check-file-size-limits

Refactoring plan added
  docs/plans/ios-refactoring-plan.md
Due: none

docs: expand iOS refactoring plan with deep architecture review
  docs/plans/ios-refactoring-plan.md
Due: none

Fix Substack cleanup fallback and markdown wrappers
  backend/api/services/web_save_parser.py
  backend/tests/skills/web_save/test_web_save_parser.py
Due: check-file-size-limits

ios: complete extension message normalization and failure mapping
  docs/plans/2026-02-07-extension-share-safari-message-normalization-plan.md
  ios/sideBar/ShareExtension/ShareExtensionEnvironment.swift
  ios/sideBar/ShareExtension/ShareExtensionMessageMapper.swift
  ios/sideBar/ShareExtension/ShareViewController.swift
  ios/sideBar/sideBarShared/Utilities/ExtensionNetworkErrorClassifier.swift
  ios/sideBar/sideBarShared/Utilities/ExtensionQueueResultMapper.swift
  ios/sideBar/sideBarShared/Utilities/ExtensionUserMessageCatalog.swift
  ios/sideBar/sideBarTests/ExtensionUserMessageCatalogTests.swift
Due: swiftlint

Normalize Substack footnotes and markdown artifacts
  backend/api/services/web_save_parser.py
  backend/api/services/web_save_parser_substack.py
  backend/tests/skills/web_save/test_web_save_parser.py
Due: check-file-size-limits

plans cleanup
  docs/plans/2026-02-07-extension-share-safari-message-normalization-plan.md
Due: none

docs: reorder refactoring execution for AI-agent-assisted workflow
  docs/plans/ios-refactoring-plan.md
Due: none

docs: renumber refactoring phases to match execution order
  docs/plans/ios-refactoring-plan.md
Due: none

Clean Substack editor line and blank quote artifacts
  backend/api/services/web_save_parser_substack.py
  backend/tests/skills/web_save/test_web_save_parser.py
Due: check-file-size-limits

ios: fix widget deep-link routing for tasks and notes
  ios/sideBar/sideBar/App/AppEnvironment+Auth.swift
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/App/AppSceneDelegate.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel.swift
  ios/sideBar/sideBar/Views/TasksView.swift
  ios/sideBar/sideBar/sideBarApp.swift
  ios/sideBar/sideBarTests/AppEnvironmentDeepLinkTests.swift
Due: swiftlint

macOS: set default app window size
  ios/sideBar/sideBar/sideBarApp.swift
Due: swiftlint

fix: support unicode-safe markdown download filenames
  backend/api/routers/download_headers.py
  backend/api/routers/notes.py
  backend/api/routers/websites.py
  backend/tests/api/test_download_headers.py
  backend/tests/api/test_notes_router.py
  backend/tests/api/test_websites_router.py
Due: check-file-size-limits
