Repository seanbetts/sidebar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swiftlint, ios-doc-comments, check-file-size-limits

prettier:
  name: prettier
  entry: node frontend/node_modules/.bin/prettier --config frontend/.prettierrc --plugin ./frontend/node_modules/prettier-plugin-svelte/plugin.js --write
  language: system

swiftlint:
  name: swiftlint
  entry: bash -lc 'cd ios/sideBar && swiftlint --strict'
  language: system
  pass_filenames: false

ios-doc-comments:
  name: ios-doc-comments
  entry: python scripts/check_ios_doc_comments.py
  language: system
  pass_filenames: false

check-file-size-limits:
  name: check-file-size-limits
  entry: python scripts/check_file_sizes.py
  language: system

Allow clearing failed ingestions
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Public.swift
  ios/sideBar/sideBar/Views/IngestionCenterView.swift
  ios/sideBar/sideBar/Views/SidebarPanels/FilesPanel.swift
  ios/sideBar/sideBar/Views/SiteHeaderBar.swift
Due: swiftlint, ios-doc-comments

Deduplicate queued YouTube shares
  ios/sideBar/sideBar/App/AppEnvironment+PendingShares.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Public.swift
  ios/sideBar/sideBarShared/Utilities/PendingShareStore.swift
  ios/sideBar/sideBarTests/IngestionViewModelTests.swift
  ios/sideBar/sideBarTests/PendingShareStoreTests.swift
Due: swiftlint, ios-doc-comments

fix: Add searchable text content for file Spotlight indexing
  ios/sideBar/sideBar/Services/Spotlight/SpotlightIndexer.swift
Due: swiftlint, ios-doc-comments

Update favicon storage and display
  backend/api/services/favicon_service.py
  ios/sideBar/sideBar/Design/Components/ContentHeaderRow.swift
  ios/sideBar/sideBar/Views/FaviconImageView.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
Due: swiftlint, check-file-size-limits

Include favicon config in iOS build plist
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
Due: none

Cache favicons with offline support
  ios/sideBar/sideBar/Services/Cache/CacheKeys.swift
  ios/sideBar/sideBar/Services/Cache/CachePolicy.swift
  ios/sideBar/sideBar/Views/FaviconImageView.swift
Due: swiftlint, ios-doc-comments

Stabilize repeating task anchors
  backend/api/services/recurrence_service.py
  backend/api/services/task_service.py
  backend/scripts/backfill_task_recurrence_anchor.py
  backend/tests/api/test_recurrence_service.py
  ios/sideBar/sideBar/Views/TasksView.swift
Due: swiftlint, check-file-size-limits

feat: Add Spotlight indexing for websites
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/Services/Spotlight/SpotlightIndexer.swift
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
Due: swiftlint, ios-doc-comments

docs: Update iOS extensions plan with Spotlight indexing
  docs/plans/IOS_EXTENSIONS_PLAN.md
Due: none

Add Mintlify docs configuration
  docs/API.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/IOS_ARCHITECTURE.md
  docs/LOCAL_DEVELOPMENT.md
  docs/MARKDOWN_STYLES.md
  docs/QUALITY_ENFORCEMENT.md
  docs/TESTING.md
  docs/assets/favicon.ico
  docs/assets/logo.svg
  docs/docs.json
  docs/plans/2026-01-11-passwords-app-integration-plan.md
  docs/plans/2026-01-20-favicon-capture-plan.md
  docs/plans/2026-01-31-openclaw-concepts-for-sidebar.md
  docs/plans/CHAT_MODES_IMPLEMENTATION_PLAN.md
  docs/plans/IOS_EXTENSIONS_PLAN.md
  docs/plans/SWIFTUI_REMAINING.md
  docs/plans/UNIVERSAL_SEARCH_PLAN.md
  docs/plans/VOICE_CHAT_IMPLEMENTATION_PLAN.md
Due: none

Fix Mintlify parsing and navigation
  docs/docs.json
  docs/plans/2026-01-20-favicon-capture-plan.md
  docs/plans/UNIVERSAL_SEARCH_PLAN.md
Due: none

iPhone tweaks
  ios/sideBar/sideBar/Design/Components/HeaderActionIcon.swift
  ios/sideBar/sideBar/Views/FilesView.swift
  ios/sideBar/sideBar/Views/NotesView.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
Due: swiftlint

Docs clean up
  docs/plans/2026-01-20-favicon-capture-plan.md
Due: none

Add Mintlify documentation platform parsing rules
  backend/api/services/web_save_parser_cleanup.py
  backend/skills/web-save/rules/platforms.yaml
Due: check-file-size-limits

Fix iPhone file toolbar menu and PDF controls
  ios/sideBar/sideBar/Design/Components/HeaderActionIcon.swift
  ios/sideBar/sideBar/Design/Components/SidebarMenuItem.swift
  ios/sideBar/sideBar/Design/Components/UIKitMenuButton.swift
  ios/sideBar/sideBar/Views/FilesView.swift
  ios/sideBar/sideBar/Views/FilesViewComponents.swift
  ios/sideBar/sideBar/Views/NotesView.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+ContextMenu.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
Due: swiftlint

Remove file toolbar menu stabilization
  ios/sideBar/sideBar/Views/FilesView.swift
Due: swiftlint

Improve Mintlify parser: preserve images and lists
  backend/api/services/web_save_parser_cleanup.py
  backend/skills/web-save/rules/platforms.yaml
Due: check-file-size-limits

Use unified long-press context menus on iPhone
  ios/sideBar/sideBar/Design/Components/PlatformContextMenu.swift
  ios/sideBar/sideBar/Views/SidebarPanels/FilesPanel+ContextMenu.swift
  ios/sideBar/sideBar/Views/SidebarPanels/FilesPanel.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+ContextMenu.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+Helpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel+ContextMenu.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
Due: swiftlint

Align iPad titlebar menu icon size
  ios/sideBar/sideBar/Design/Components/HeaderActionIcon.swift
Due: swiftlint

Fix list positioning and duplicate content in include reinsertion
  backend/api/services/web_save_includes.py
Due: check-file-size-limits

Improve image filtering and element positioning for Mintlify sites
  backend/api/services/web_save_includes.py
  backend/api/services/web_save_parser_cleanup.py
Due: check-file-size-limits

ios: add website copy url and title tap
  ios/sideBar/sideBar/Design/Components/ContentHeaderRow.swift
  ios/sideBar/sideBar/Views/Chat/ChatHeaderView.swift
  ios/sideBar/sideBar/Views/FilesView.swift
  ios/sideBar/sideBar/Views/NotesView.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel+ContextMenu.swift
  ios/sideBar/sideBar/Views/TasksView.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
Due: swiftlint

Fix nested list handling - keep full content, remove stripped duplicates
  backend/api/services/web_save_includes.py
Due: check-file-size-limits

Keep list includes for Mintlify - preserves documentation index
  backend/skills/web-save/rules/platforms.yaml
Due: none

ios: add expand button to website header
  ios/sideBar/sideBar/Views/WebsitesView.swift
Due: swiftlint

ios: expand workspace for websites
  ios/sideBar/sideBar/Utilities/AppStorageKeys.swift
  ios/sideBar/sideBar/Views/ContentView+Layout.swift
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
  ios/sideBar/sideBar/Views/ContentView.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
  ios/sideBar/sideBar/Views/WorkspaceLayout.swift
Due: swiftlint

ios: auto-toggle expanded workspace on rotation
  ios/sideBar/sideBar/Utilities/AppStorageKeys.swift
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
  ios/sideBar/sideBar/Views/ContentView.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
Due: swiftlint

ios: limit workspace auto-toggle to websites
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
Due: swiftlint

ios: expand workspace controls across sections
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
  ios/sideBar/sideBar/Views/FilesView.swift
  ios/sideBar/sideBar/Views/NotesView.swift
  ios/sideBar/sideBar/Views/TasksView.swift
Due: swiftlint

ios: keep expand control in primary workspace
  ios/sideBar/sideBar/Utilities/WorkspaceColumn.swift
  ios/sideBar/sideBar/Views/ContentView+Layout.swift
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
  ios/sideBar/sideBar/Views/FilesView.swift
  ios/sideBar/sideBar/Views/NotesView.swift
  ios/sideBar/sideBar/Views/TasksView.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
Due: swiftlint

ios: add chat expand controls
  ios/sideBar/sideBar/Views/Chat/ChatHeaderView.swift
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
Due: swiftlint

ios: unify chat content width
  ios/sideBar/sideBar/Views/Chat/ChatInputBar.swift
  ios/sideBar/sideBar/Views/Chat/ChatLayout.swift
  ios/sideBar/sideBar/Views/Chat/ChatMessageListView.swift
  ios/sideBar/sideBar/Views/Chat/ChatView.swift
Due: swiftlint

ios: unify content width
  ios/sideBar/sideBar/Utilities/ContentLayout.swift
  ios/sideBar/sideBar/Views/Chat/ChatLayout.swift
  ios/sideBar/sideBar/Views/SideBarMarkdown.swift
Due: swiftlint

Improve reading time calculation accuracy
  backend/api/services/web_save_parser.py
  backend/api/services/web_save_tagger.py
Due: check-file-size-limits

Add reading time to websites sidebar subtitle
  backend/api/routers/websites_helpers.py
  ios/sideBar/sideBar/Models/WebsiteModels.swift
  ios/sideBar/sideBar/Services/Realtime/RealtimeMappers.swift
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsiteRows.swift
Due: swiftlint, ios-doc-comments, check-file-size-limits

backend: configure yt-dlp JS runtime
  backend/docker/Dockerfile.skills-api
  backend/fly.toml
  backend/skills/youtube-download/SKILL.md
  backend/skills/youtube-download/scripts/download_video.py
Due: none

Improve reading time display and domain formatting
  backend/api/routers/websites_helpers.py
  backend/api/services/web_save_tagger.py
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsiteRows.swift
Due: swiftlint, check-file-size-limits

Render list markers inline in native editor
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownEditorAttributes.swift
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownExporter.swift
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
  ios/sideBar/sideBar/Views/Notes/CodeBlockAttachmentBuilder.swift
  ios/sideBar/sideBar/Views/Notes/NativeMarkdownTextView.swift
Due: swiftlint, ios-doc-comments

backend: fail fast on youtube 403
  backend/api/routers/ingestion_helpers.py
  backend/skills/youtube-download/scripts/download_video.py
  backend/workers/ingestion_worker.py
Due: check-file-size-limits

Show domain as subtitle in website detail header
  ios/sideBar/sideBar/Design/Components/ContentHeaderRow.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsiteRows.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
Due: swiftlint

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|js|svelte|json|md|yml|yaml)$
  swiftlint: any of: ^ios/.*\.swift$
  ios-doc-comments: any of: ^ios/sideBar/sideBar/(ViewModels|Services)/.*\.swift$
  check-file-size-limits: any of: ^(backend/api/services|backend/api/routers|frontend/src/lib/components|frontend/src/lib/stores)/.*\.(py|ts|svelte)$
