Repository seanbetts/sidebar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swiftlint, ios-doc-comments, check-file-size-limits

.pre-commit-config.yaml:

repos:
  # Python - Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--config=backend/pyproject.toml, --fix]
        files: ^backend/(api|workers)/.*\.py$
      - id: ruff-format
        args: [--config=backend/pyproject.toml]
        files: ^backend/(api|workers)/.*\.py$

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/api/(?!alembic/).*\.py$
        args: [--config-file=backend/pyproject.toml]
        additional_dependencies:
          - sqlalchemy[mypy]
          - pydantic
          - fastapi
          - types-requests

  # Python - Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        pass_filenames: false
        args: [--fail-under=80, --verbose, --ignore-init-method, --exclude=backend/api/alembic, backend/api]
        files: ^backend/api/

  # Python - Docstring style
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: [--convention=google]
        files: ^backend/api/(?!alembic/versions/).*\.py$

  # Frontend - Prettier formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node frontend/node_modules/.bin/prettier --config frontend/.prettierrc --plugin ./frontend/node_modules/prettier-plugin-svelte/plugin.js --write
        language: system
        files: ^frontend/.*\.(ts|js|svelte|json|md|yml|yaml)$

  # iOS - Xcode tests (manual only)
  - repo: local
    hooks:
      - id: swiftlint
        name: swiftlint
        entry: bash -lc 'cd ios/sideBar && swiftlint --strict'
        language: system
        files: ^ios/.*\.swift$
        pass_filenames: false
      - id: ios-doc-comments
        name: ios-doc-comments
        entry: python scripts/check_ios_doc_comments.py
        language: system
        files: ^ios/sideBar/sideBar/(ViewModels|Services)/.*\.swift$
        pass_filenames: false
      - id: ios-tests
        name: ios-tests
        entry: scripts/test-ios.sh
        language: system
        files: ^ios/
        pass_filenames: false
        stages: [manual]

  # Frontend - ESLint (all files)
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.17.0
    hooks:
      - id: eslint
        files: ^frontend/src/.*\.(ts|js|svelte)$
        args: [--fix, --max-warnings=0]
        additional_dependencies:
          - eslint@9.39.2
          - eslint-plugin-jsdoc@61.5.0
          - eslint-plugin-svelte@2.46.1
          - svelte-eslint-parser@1.4.1
          - '@typescript-eslint/eslint-plugin@8.50.1'
          - '@typescript-eslint/parser@8.50.1'

  # General - File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]

  # Custom - File size limits
  - repo: local
    hooks:
      - id: check-file-size-limits
        name: check-file-size-limits
        entry: python scripts/check_file_sizes.py
        language: system
        files: ^(backend/api/services|backend/api/routers|frontend/src/lib/components|frontend/src/lib/stores)/.*\.(py|ts|svelte)$

Fix ordered list numbering in native editor
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
Due: swiftlint, ios-doc-comments

Show created date as subtitle in notes UI
  backend/api/services/notes_helpers.py
  backend/api/services/notes_workspace_service.py
  ios/sideBar/sideBar/Models/FileModels.swift
  ios/sideBar/sideBar/Services/Network/NotesAPI.swift
  ios/sideBar/sideBar/Views/NotesView.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+Helpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+TreeHelpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanelComponents.swift
Due: swiftlint, ios-doc-comments, check-file-size-limits

Refresh notes when created timestamp changes
  ios/sideBar/sideBar/Stores/NotesStore.swift
  ios/sideBar/sideBar/Utilities/FileTreeSignature.swift
Due: swiftlint

Tune list marker spacing and styling
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
Due: swiftlint, ios-doc-comments

Render nested list items in markdown importer
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownImporter.swift
Due: swiftlint

Unify paragraph and list spacing controls
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownImporter.swift
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownParagraphMetrics.swift
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
Due: swiftlint, ios-doc-comments

backend: add youtube ingestion logging and debug helper
  backend/api/routers/ingestion.py
  backend/docker/Dockerfile.skills-api
  backend/docker/entrypoint.sh
  backend/fly.toml
  backend/skills/youtube-download/scripts/download_video.py
  backend/skills/youtube-transcribe/scripts/transcribe_youtube.py
  backend/tests/skills/test_youtube_download.py
  backend/workers/ingestion_worker.py
  scripts/debug-ingest-youtube.sh
Due: check-file-size-limits

backend: enable yt-dlp remote components
  backend/skills/youtube-download/scripts/download_video.py
Due: none

backend: add yt-dlp headers and client hints
  backend/skills/youtube-download/scripts/download_video.py
Due: none

backend: relax youtube audio format selection
  backend/skills/youtube-download/scripts/download_video.py
Due: none

ios: route youtube shares via pending queue
  ios/sideBar/ShareExtension/ShareViewController.swift
  ios/sideBar/sideBar/App/AppEnvironment+PendingShares.swift
  ios/sideBar/sideBarShared/Utilities/PendingShareStore.swift
Due: swiftlint

ios: test pending share consume
  ios/sideBar/sideBarTests/PendingShareStoreTests.swift
Due: swiftlint

ios: fix tests for created and reading time
  ios/sideBar/sideBarTests/ChatViewModelTests.swift
  ios/sideBar/sideBarTests/FileTreeSignatureTests.swift
  ios/sideBar/sideBarTests/NotesEditorViewModelTests.swift
  ios/sideBar/sideBarTests/NotesStoreTests.swift
  ios/sideBar/sideBarTests/NotesViewModelTests.swift
  ios/sideBar/sideBarTests/OfflineStoreTests.swift
  ios/sideBar/sideBarTests/WebsitesStoreTests.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: swiftlint

Markdown tweaks
  .env.example
  backend/api/routers/ingestion.py
  ios/sideBar/sideBar/Services/Realtime/RealtimeMappers.swift
  ios/sideBar/sideBar/Stores/NotesStore+Offline.swift
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownHeadingMetrics.swift
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownImporter.swift
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownParagraphMetrics.swift
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
Due: swiftlint, ios-doc-comments, check-file-size-limits

Collapse spacing before content following headings
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownImporter.swift
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
Due: swiftlint, ios-doc-comments

Preserve heading bold in native text view
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
Due: swiftlint, ios-doc-comments

Tighten paragraph and heading spacing
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownHeadingMetrics.swift
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownParagraphMetrics.swift
Due: swiftlint

Fix auth persistence race condition with unified Keychain storage
  ios/sideBar/sideBar/Services/Auth/SupabaseAuthAdapter.swift
  ios/sideBar/sideBar/Services/Auth/SupabaseKeychainStorage.swift
  ios/sideBar/sideBarShared/Auth/KeychainAuthStateStore.swift
Due: swiftlint, ios-doc-comments

Fix strikethrough rendering and color
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownImporter.swift
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownShortcutProcessor.swift
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
  ios/sideBar/sideBar/Views/Notes/CodeBlockAttachmentBuilder.swift
  ios/sideBar/sideBar/Views/Notes/NativeMarkdownTextView.swift
Due: swiftlint, ios-doc-comments

Support combined bold+italic intents
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownImporter.swift
Due: swiftlint

ios: wire safari extension to pending shares
  ios/sideBar/sideBar Safari Extension/Resources/manifest.json
  ios/sideBar/sideBar Safari Extension/Resources/popup.css
  ios/sideBar/sideBar Safari Extension/Resources/popup.html
  ios/sideBar/sideBar Safari Extension/Resources/popup.js
  ios/sideBar/sideBar Safari Extension/SafariWebExtensionHandler.swift
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
Due: swiftlint

ios: add safari extension app groups
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownImporter.swift
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownShortcutProcessor.swift
Due: swiftlint

ios: add safari extension entitlements
  ios/sideBar/sideBar Safari Extension (macOS) Extension/sideBar Safari Extension (macOS) Extension.entitlements
  ios/sideBar/sideBar Safari Extension (macOS)/sideBar Safari Extension (macOS).entitlements
  ios/sideBar/sideBar Safari Extension/sideBar Safari Extension.entitlements
Due: none

Config updates for safari extensions
  ios/sideBar/sideBar Safari Extension (macOS) Extension/sideBar Safari Extension (macOS) Extension.entitlements
  ios/sideBar/sideBar Safari Extension (macOS)/sideBar Safari Extension (macOS).entitlements
  ios/sideBar/sideBar Safari Extension/sideBar Safari Extension.entitlements
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
Due: swiftlint, ios-doc-comments

ios: exclude safari plist from resources
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
Due: none

ios: link sideBarShared in safari extension
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
Due: none

ios: align safari extension version
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
Due: none

ios: rename safari extension and use app icon
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/_locales/en/messages.json
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/icon-128.png
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/icon-256.png
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/icon-48.png
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/icon-512.png
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/icon-64.png
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/icon-96.png
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/manifest.json
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/popup.css
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/popup.html
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/popup.js
  ios/sideBar/sideBar Safari Extension (macOS) Extension/SafariWebExtensionHandler.swift
  ios/sideBar/sideBar Safari Extension/Resources/_locales/en/messages.json
  ios/sideBar/sideBar Safari Extension/Resources/images/icon-128.png
  ios/sideBar/sideBar Safari Extension/Resources/images/icon-256.png
  ios/sideBar/sideBar Safari Extension/Resources/images/icon-48.png
  ios/sideBar/sideBar Safari Extension/Resources/images/icon-512.png
  ios/sideBar/sideBar Safari Extension/Resources/images/icon-64.png
  ios/sideBar/sideBar Safari Extension/Resources/images/icon-96.png
  ios/sideBar/sideBar Safari Extension/Resources/manifest.json
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
Due: swiftlint

ios: align safari extension icons with app logo
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/icon-128.png
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/icon-256.png
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/icon-48.png
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/icon-512.png
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/icon-64.png
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/icon-96.png
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/toolbar-icon.svg
  ios/sideBar/sideBar Safari Extension/Resources/images/icon-128.png
  ios/sideBar/sideBar Safari Extension/Resources/images/icon-256.png
  ios/sideBar/sideBar Safari Extension/Resources/images/icon-48.png
  ios/sideBar/sideBar Safari Extension/Resources/images/icon-512.png
  ios/sideBar/sideBar Safari Extension/Resources/images/icon-64.png
  ios/sideBar/sideBar Safari Extension/Resources/images/icon-96.png
  ios/sideBar/sideBar Safari Extension/Resources/images/toolbar-icon.svg
Due: none

ios: enlarge safari toolbar icon
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/toolbar-icon.svg
  ios/sideBar/sideBar Safari Extension/Resources/images/toolbar-icon.svg
Due: none

ios: save page on extension click
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/background.js
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/manifest.json
  ios/sideBar/sideBar Safari Extension/Resources/background.js
  ios/sideBar/sideBar Safari Extension/Resources/manifest.json
Due: none

ios: maximize safari toolbar icon
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/images/toolbar-icon.svg
  ios/sideBar/sideBar Safari Extension/Resources/images/toolbar-icon.svg
Due: none

Render thematic breaks in native notes
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
  ios/sideBar/sideBar/Views/Notes/CodeBlockAttachmentBuilder.swift
  ios/sideBar/sideBar/Views/Notes/NativeMarkdownTextView.swift
Due: swiftlint, ios-doc-comments

Adjust horizontal rule spacing
  ios/sideBar/sideBar/Utilities/Markdown/MarkdownImporter.swift
  ios/sideBar/sideBar/ViewModels/NativeMarkdownEditorViewModel.swift
Due: swiftlint, ios-doc-comments

ios: fix safari extension app group
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Info.plist
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/manifest.json
  ios/sideBar/sideBar Safari Extension (macOS) Extension/SafariWebExtensionHandler.swift
  ios/sideBar/sideBar Safari Extension/Info.plist
  ios/sideBar/sideBar Safari Extension/Resources/manifest.json
  ios/sideBar/sideBar Safari Extension/Resources/popup.js
  ios/sideBar/sideBar Safari Extension/SafariWebExtensionHandler.swift
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBarShared/Utilities/PendingShareStore.swift
Due: swiftlint

ios: show toast after safari save
  ios/sideBar/sideBar Safari Extension/Resources/content.js
  ios/sideBar/sideBar Safari Extension/Resources/manifest.json
  ios/sideBar/sideBar Safari Extension/Resources/popup.js
Due: none

Render horizontal rules via attachments
  ios/sideBar/sideBar/Views/Notes/CodeBlockAttachmentBuilder.swift
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
  ios/sideBar/sideBar/Views/Notes/NativeMarkdownTextView.swift
Due: swiftlint

ios: show popup status on safari save
  ios/sideBar/sideBar Safari Extension/Resources/content.js
  ios/sideBar/sideBar Safari Extension/Resources/manifest.json
  ios/sideBar/sideBar Safari Extension/Resources/popup.js
Due: none

ios: style safari popup status
  ios/sideBar/sideBar Safari Extension/Resources/popup.css
  ios/sideBar/sideBar Safari Extension/Resources/popup.html
  ios/sideBar/sideBar Safari Extension/Resources/popup.js
Due: none
