Repository seanbetts/sidebar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swiftlint, ios-doc-comments, check-file-size-limits

.pre-commit-config.yaml:

repos:
  # Python - Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--config=backend/pyproject.toml, --fix]
        files: ^backend/(api|workers)/.*\.py$
      - id: ruff-format
        args: [--config=backend/pyproject.toml]
        files: ^backend/(api|workers)/.*\.py$

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/api/(?!alembic/).*\.py$
        args: [--config-file=backend/pyproject.toml]
        additional_dependencies:
          - sqlalchemy[mypy]
          - pydantic
          - fastapi
          - types-requests

  # Python - Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        pass_filenames: false
        args: [--fail-under=80, --verbose, --ignore-init-method, --exclude=backend/api/alembic, backend/api]
        files: ^backend/api/

  # Python - Docstring style
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: [--convention=google]
        files: ^backend/api/(?!alembic/versions/).*\.py$

  # Frontend - Prettier formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node frontend/node_modules/.bin/prettier --config frontend/.prettierrc --plugin ./frontend/node_modules/prettier-plugin-svelte/plugin.js --write
        language: system
        files: ^frontend/.*\.(ts|js|svelte|json|md|yml|yaml)$

  # iOS - Xcode tests (manual only)
  - repo: local
    hooks:
      - id: swiftlint
        name: swiftlint
        entry: bash -lc 'cd ios/sideBar && swiftlint --strict'
        language: system
        files: ^ios/.*\.swift$
        pass_filenames: false
      - id: ios-doc-comments
        name: ios-doc-comments
        entry: python scripts/check_ios_doc_comments.py
        language: system
        files: ^ios/sideBar/sideBar/(ViewModels|Services)/.*\.swift$
        pass_filenames: false
      - id: ios-tests
        name: ios-tests
        entry: scripts/test-ios.sh
        language: system
        files: ^ios/
        pass_filenames: false
        stages: [manual]

  # Frontend - ESLint (all files)
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.17.0
    hooks:
      - id: eslint
        files: ^frontend/src/.*\.(ts|js|svelte)$
        args: [--fix, --max-warnings=0]
        additional_dependencies:
          - eslint@9.39.2
          - eslint-plugin-jsdoc@61.5.0
          - eslint-plugin-svelte@2.46.1
          - svelte-eslint-parser@1.4.1
          - '@typescript-eslint/eslint-plugin@8.50.1'
          - '@typescript-eslint/parser@8.50.1'

  # General - File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [--branch, main]

  # Custom - File size limits
  - repo: local
    hooks:
      - id: check-file-size-limits
        name: check-file-size-limits
        entry: python scripts/check_file_sizes.py
        language: system
        files: ^(backend/api/services|backend/api/routers|frontend/src/lib/components|frontend/src/lib/stores)/.*\.(py|ts|svelte)$

ios: extend safari popup status
  ios/sideBar/sideBar Safari Extension/Resources/popup.js
Due: none

Refine horizontal rule rendering
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
Due: swiftlint

Tweaks
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
  ios/sideBar/sideBar/Views/Notes/CodeBlockAttachmentBuilder.swift
  ios/sideBar/sideBar/Views/NotesView.swift
Due: swiftlint

Fix iOS Safari Extension manifest for App Store
  ios/sideBar/sideBar Safari Extension/Resources/manifest.json
Due: none

Fix Docker CMD to not use sh -c wrapper
  backend/docker/Dockerfile.skills-api
Due: none

Add pre-commit hooks for Dockerfile, shell, and plist validation
  .pre-commit-config.yaml
  backend/docker/.hadolint.yaml
  backend/scripts/setup_test_db.sh
Due: none

ios: dedupe pending website shares
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBarShared/Utilities/PendingShareStore.swift
  ios/sideBar/sideBarTests/PendingShareStoreTests.swift
Due: swiftlint

ios: fix sidebar row background for pinned items
  ios/sideBar/sideBar/Views/SidebarPanels/FilesPanel.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+Helpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
Due: swiftlint

Safari popup rounded corners
  ios/sideBar/sideBar Safari Extension (macOS) Extension/Resources/popup.css
Due: none

ios: stabilize horizontal rule attachments
  ios/sideBar/sideBar/Views/Notes/CodeBlockAttachmentBuilder.swift
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
Due: swiftlint

ios: render horizontal rule attachment view
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
Due: swiftlint

ios: draw horizontal rules in native text view
  ios/sideBar/sideBar/Views/Notes/NativeMarkdownTextView.swift
Due: swiftlint

ios: detect thematic break lines for rule drawing
  ios/sideBar/sideBar/Views/Notes/NativeMarkdownTextView.swift
Due: swiftlint

ios: render horizontal rules as image attachments
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
  ios/sideBar/sideBar/Views/Notes/NativeMarkdownTextView.swift
Due: swiftlint

ios: adjust horizontal rule size
  ios/sideBar/sideBar/Views/Notes/CodeBlockAttachmentBuilder.swift
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
Due: swiftlint

ios: fix horizontal rule attachment bounds
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
Due: swiftlint

ios: use subtle divider color for horizontal rules
  ios/sideBar/sideBar/Views/Notes/CodeBlockAttachmentBuilder.swift
Due: swiftlint

ios: resolve divider color per appearance
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
Due: swiftlint

ios: fix macOS appearance resolution for HR
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
Due: swiftlint

ios: silent auth refresh + stale session guardrails
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/App/AppEnvironment+Auth.swift
  ios/sideBar/sideBar/App/AppEnvironment+PendingShares.swift
  ios/sideBar/sideBar/App/AppEnvironment+Push.swift
  ios/sideBar/sideBar/App/AppEnvironment+Selection.swift
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/App/AppLaunchDelegate.swift
  ios/sideBar/sideBar/App/ServiceContainer.swift
  ios/sideBar/sideBar/Services/Auth/AuthSession.swift
  ios/sideBar/sideBar/Services/Auth/SupabaseAuthAdapter.swift
  ios/sideBar/sideBar/Services/Auth/SupabaseAuthClient.swift
  ios/sideBar/sideBar/Views/ContentView+Layout.swift
  ios/sideBar/sideBar/Views/ContentView+Lifecycle.swift
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
  ios/sideBar/sideBar/Views/ContentView.swift
  ios/sideBar/sideBar/Views/ContentViewComponents.swift
  ios/sideBar/sideBarShared/Network/APIClient.swift
  ios/sideBar/sideBarTests/APIClientTests.swift
  ios/sideBar/sideBarTests/SupabaseAuthAdapterTests.swift
Due: swiftlint, ios-doc-comments

ios: fix iOS trait resolution for HR
  ios/sideBar/sideBar/Views/Notes/HorizontalRuleAttachment.swift
Due: swiftlint

added web/ios parity plan
  docs/plans/2026-02-06-web-ios-macos-parity-plan.md
Due: none

Fix iOS connectivity classification and simulator API override
  ios/sideBar/sideBar/App/ConnectivityMonitor.swift
  ios/sideBar/sideBarShared/Utilities/EnvironmentConfig+Load.swift
  ios/sideBar/sideBarTests/ConnectivityMonitorTests.swift
  ios/sideBar/sideBarTests/EnvironmentConfigLoadTests.swift
Due: swiftlint

fix: iOS concurrency safety and URLSession retain cycle
  ios/sideBar/sideBar/Services/Chat/URLSessionChatStreamClient.swift
  ios/sideBar/sideBar/Services/Realtime/SupabaseRealtimeAdapter.swift
  ios/sideBar/sideBar/Services/Upload/IngestionUploadManager.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel+Conversations.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel+Realtime.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel+Streaming.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel.swift
Due: swiftlint, ios-doc-comments

Simplify offline banner and surface server reachability
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/Design/Components/OfflineBanner.swift
  ios/sideBar/sideBar/Services/Upload/IngestionUploadManager.swift
Due: swiftlint, ios-doc-comments

frontend: add weather unit setting parity
  frontend/src/lib/components/left-sidebar/panels/SettingsDialog.svelte
  frontend/src/lib/components/left-sidebar/panels/SettingsDialogContainer.svelte
  frontend/src/lib/components/left-sidebar/panels/settings/SettingsSystemSection.svelte
  frontend/src/lib/hooks/useSiteHeaderData.ts
  frontend/src/lib/stores/weatherPreferences.ts
  frontend/src/lib/utils/weatherTemperature.ts
  frontend/src/tests/components/settings-system-section.test.ts
  frontend/src/tests/lib/utils/weatherTemperature.test.ts
  frontend/src/tests/stores/weatherPreferences.test.ts
Due: prettier, check-file-size-limits

frontend: add website parity improvements
  docs/plans/2026-02-06-web-ios-macos-parity-checklist.md
  frontend/src/lib/components/websites/WebsiteFavicon.svelte
  frontend/src/lib/components/websites/WebsiteHeader.svelte
  frontend/src/lib/components/websites/WebsiteRow.svelte
  frontend/src/lib/components/websites/WebsitesPanel.svelte
  frontend/src/lib/components/websites/WebsitesViewer.svelte
  frontend/src/lib/realtime/realtime.ts
  frontend/src/lib/services/api.ts
  frontend/src/lib/stores/websites.ts
  frontend/src/lib/utils/websites.ts
  frontend/src/tests/lib/utils/websites.test.ts
  frontend/src/tests/stores/websites.test.ts
Due: prettier, check-file-size-limits

frontend: refine website header titlebar spacing
  frontend/src/lib/components/websites/WebsiteHeader.svelte
Due: prettier, check-file-size-limits

Adjust iOS status chip size and header alignment
  ios/sideBar/sideBar/Design/Components/OfflineBanner.swift
  ios/sideBar/sideBar/Views/SiteHeaderBar.swift
Due: swiftlint

fix(web): align ingestion ready header state with native
  frontend/src/lib/components/site-header.svelte
  frontend/src/lib/components/site-header/IngestionStatusCenter.svelte
  frontend/src/lib/utils/ingestionStatus.ts
  frontend/src/tests/flows/file-upload.test.ts
  frontend/src/tests/lib/utils/ingestionStatus.test.ts
Due: prettier, check-file-size-limits

feat(web): complete parity updates for sidebar, chat, and websites
  frontend/src/lib/components/chat/ChatWindow.svelte
  frontend/src/lib/components/left-sidebar/Sidebar.svelte
  frontend/src/lib/components/websites/WebsitesPanel.svelte
  frontend/src/lib/composables/useChatSSE.ts
  frontend/src/lib/services/api.ts
  frontend/src/lib/stores/chat.ts
  frontend/src/lib/stores/chat/toolState.ts
  frontend/src/lib/stores/sidebar-section.ts
  frontend/src/lib/stores/websites.ts
  frontend/src/tests/stores/chat.test.ts
  frontend/src/tests/stores/sidebar-section.test.ts
  frontend/src/tests/stores/toolState.test.ts
  frontend/src/tests/stores/websites.test.ts
Due: prettier, check-file-size-limits

ios: remove archive confirmation alerts
  ios/sideBar/sideBar/Views/NotesView.swift
  ios/sideBar/sideBar/Views/WebsitesView.swift
Due: swiftlint

Show connection status alert from iOS offline chip
  ios/sideBar/sideBar/Design/Components/OfflineBanner.swift
Due: swiftlint

docs: remove completed web parity plan
  docs/plans/2026-02-06-web-ios-macos-parity-checklist.md
Due: none

frontend: fix notes archive nested folder rendering
  frontend/src/lib/components/left-sidebar/NotesPanel.svelte
  frontend/src/lib/stores/tree/actions/load.ts
Due: prettier, check-file-size-limits

frontend: show loading state for archives
  frontend/src/lib/components/left-sidebar/NotesPanel.svelte
  frontend/src/lib/components/websites/WebsitesPanel.svelte
  frontend/src/lib/stores/tree/actions/load.ts
  frontend/src/lib/stores/websites.ts
  frontend/src/lib/types/file.ts
Due: prettier, check-file-size-limits

backend: avoid archived websites reading-time lazy-load N+1
  backend/api/routers/websites_helpers.py
  backend/tests/api/test_websites_router.py
Due: check-file-size-limits

ios: show archive loading indicators for notes and websites
  ios/sideBar/sideBar/ViewModels/NotesViewModel.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+Helpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/NotesPanel+TreeHelpers.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
  ios/sideBar/sideBarTests/NotesViewModelTests.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: swiftlint, ios-doc-comments

feat: add first-class website reading_time field
  backend/api/alembic/versions/20260206_2200-043_add_websites_reading_time.py
  backend/api/models/website.py
  backend/api/routers/websites_helpers.py
  backend/api/services/website_reading_time.py
  backend/api/services/websites_service.py
  backend/api/services/websites_utils.py
  backend/scripts/backfill_websites_reading_time.py
  backend/tests/api/test_website_reading_time.py
  backend/tests/api/test_websites_router.py
  backend/tests/api/test_websites_service.py
  frontend/src/lib/realtime/realtime.ts
  ios/sideBar/sideBar/Models/WebsiteModels.swift
  ios/sideBar/sideBar/Services/Realtime/RealtimeMappers.swift
  ios/sideBar/sideBar/Services/Realtime/SupabaseRealtimeAdapter.swift
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBarTests/RealtimeMappersTests.swift
  ios/sideBar/sideBarTests/SupabaseRealtimeAdapterTests.swift
  ios/sideBar/sideBarTests/WebsitesAPITests.swift
  ios/sideBar/sideBarTests/WebsitesStoreTests.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: prettier, swiftlint, ios-doc-comments, check-file-size-limits

frontend: align sidebar section naming and pinned visibility parity
  docs/plans/2026-02-06-web-ios-macos-parity-checklist.md
  frontend/src/lib/components/left-sidebar/FilesPanelController.svelte
  frontend/src/lib/components/left-sidebar/Sidebar.svelte
  frontend/src/lib/components/left-sidebar/SidebarRail.svelte
  frontend/src/lib/components/websites/WebsitesPanel.svelte
  frontend/src/lib/hooks/useSidebarSectionLoader.ts
  frontend/src/lib/stores/sidebar-section.ts
  frontend/src/tests/stores/sidebar-section.test.ts
Due: prettier, check-file-size-limits
