Repository seanbetts/sidebar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, swiftlint, ios-doc-comments, check-file-size-limits

prettier:
  name: prettier
  entry: node frontend/node_modules/.bin/prettier --config frontend/.prettierrc --plugin ./frontend/node_modules/prettier-plugin-svelte/plugin.js --write
  language: system

swiftlint:
  name: swiftlint
  entry: bash -lc 'cd ios/sideBar && swiftlint --strict'
  language: system
  pass_filenames: false

ios-doc-comments:
  name: ios-doc-comments
  entry: python scripts/check_ios_doc_comments.py
  language: system
  pass_filenames: false

check-file-size-limits:
  name: check-file-size-limits
  entry: python scripts/check_file_sizes.py
  language: system

Docs update
  docs/plans/2026-01-22-offline-support-improvements.md
Due: none

Sync badge after widget task completions
  ios/sideBar/sideBar/App/AppLaunchDelegate.swift
Due: swiftlint

Handle offline archived website details
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
Due: swiftlint

Prefetch recent archived note details
  ios/sideBar/sideBar/Stores/NotesStore.swift
Due: swiftlint

Standardize medium widget layout
  ios/sideBar/sideBarWidgets/Widgets/PinnedFilesWidget.swift
  ios/sideBar/sideBarWidgets/Widgets/PinnedNotesWidget.swift
  ios/sideBar/sideBarWidgets/Widgets/SavedSitesWidget.swift
  ios/sideBar/sideBarWidgets/Widgets/TodayTasksWidget.swift
  ios/sideBar/sideBarWidgets/Widgets/WidgetListLayout.swift
Due: swiftlint

Mark offline archived plan validation complete
  docs/plans/2026-01-31-offline-archived-backend-resilience.md
Due: none

Remove completed offline archived plan
  docs/plans/2026-01-31-offline-archived-backend-resilience.md
Due: none

Update offline sync plan progress
  docs/plans/2026-01-30-offline-sync.md
Due: none

Add chat offline snapshots
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/Stores/ChatStore.swift
Due: swiftlint

Mark chat offline work complete
  docs/plans/2026-01-30-offline-sync.md
Due: none

Add sync coordinator for reconnect refresh
  docs/plans/2026-01-30-offline-sync.md
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/App/SyncCoordinator.swift
  ios/sideBar/sideBar/ViewModels/Chat/ChatViewModel+Conversations.swift
Due: swiftlint, ios-doc-comments

Fix AppEnvironment init order
  ios/sideBar/sideBar/App/AppEnvironment.swift
Due: swiftlint

Refine widget layout spacing
  ios/sideBar/sideBarWidgets/Widgets/PinnedNotesWidget.swift
  ios/sideBar/sideBarWidgets/Widgets/TodayTasksWidget.swift
  ios/sideBar/sideBarWidgets/Widgets/WidgetListLayout.swift
Due: swiftlint

Add global write conflict sheet
  docs/plans/2026-01-30-offline-sync.md
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/Services/Offline/WriteQueue.swift
  ios/sideBar/sideBar/Views/ContentView+SignedIn.swift
  ios/sideBar/sideBar/Views/ContentView.swift
  ios/sideBar/sideBar/Views/Offline/WriteConflictResolutionSheet.swift
Due: swiftlint, ios-doc-comments

Align widget footer placement
  ios/sideBar/sideBarWidgets/Widgets/WidgetListLayout.swift
Due: swiftlint

Add offline sync test coverage
  docs/plans/2026-01-30-offline-sync.md
  ios/sideBar/sideBarTests/SyncCoordinatorTests.swift
  ios/sideBar/sideBarTests/WebsitesStoreTests.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
  ios/sideBar/sideBarTests/WriteQueueTests.swift
Due: swiftlint

Remove offline sync plan
  docs/plans/2026-01-30-offline-sync.md
Due: none

Queue share extension items when offline
  ios/sideBar/ShareExtension/ShareNetworkMonitor.swift
  ios/sideBar/ShareExtension/ShareViewController.swift
  ios/sideBar/sideBar/App/AppEnvironment+Auth.swift
  ios/sideBar/sideBar/App/AppEnvironment+PendingShares.swift
  ios/sideBar/sideBar/App/AppEnvironment+Setup.swift
  ios/sideBar/sideBarShared/Utilities/PendingShareStore.swift
  ios/sideBar/sideBarTests/PendingShareStoreTests.swift
Due: swiftlint

Implement favicon capture and display
  backend/api/routers/websites_helpers.py
  backend/api/services/favicon_service.py
  backend/api/services/web_save_parser.py
  backend/api/services/websites_service.py
  backend/api/services/websites_utils.py
  backend/skills/web-save/scripts/list_websites.py
  backend/skills/web-save/scripts/read_website.py
  backend/skills/web-save/scripts/save_url.py
  backend/tests/skills/web_save/test_web_save_parser.py
  backend/tests/test_favicon_service.py
  ios/sideBar/Config/SideBar.local.xcconfig.example
  ios/sideBar/Config/SideBar.xcconfig
  ios/sideBar/ShareExtension/ShareNetworkMonitor.swift
  ios/sideBar/ci_scripts/ci_post_clone.sh
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/App/AppEnvironment+PendingShares.swift
  ios/sideBar/sideBar/Models/WebsiteModels.swift
  ios/sideBar/sideBar/Services/Realtime/RealtimeMappers.swift
  ios/sideBar/sideBar/Stores/WebsitesStore.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBar/Views/FaviconImageView.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsiteRows.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
  ios/sideBar/sideBarShared/Utilities/EnvironmentConfig+Load.swift
  ios/sideBar/sideBarShared/Utilities/EnvironmentConfig.swift
  ios/sideBar/sideBarTests/WebsitesStoreTests.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: swiftlint, ios-doc-comments, check-file-size-limits

Use R2 endpoint for iOS favicon URLs
  ios/sideBar/Config/SideBar.local.xcconfig.example
  ios/sideBar/Config/SideBar.xcconfig
  ios/sideBar/ci_scripts/ci_post_clone.sh
  ios/sideBar/sideBar.xcodeproj/project.pbxproj
  ios/sideBar/sideBar/Views/FaviconImageView.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsiteRows.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
  ios/sideBar/sideBarShared/Utilities/EnvironmentConfig+Load.swift
  ios/sideBar/sideBarShared/Utilities/EnvironmentConfig.swift
Due: swiftlint

Deduplicate favicons by effective domain
  backend/api/routers/websites_helpers.py
  backend/api/services/favicon_service.py
  backend/api/services/websites_service.py
  backend/api/utils/domain_utils.py
  backend/scripts/backfill_favicons.py
  backend/skills/web-save/scripts/save_url.py
  backend/tests/test_favicon_service.py
Due: check-file-size-limits

Add publicsuffix2 dependency
  backend/pyproject.toml
Due: none

Queue offline website saves in app
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
Due: swiftlint, ios-doc-comments

Include R2 bucket for favicon URLs
  ios/sideBar/Config/SideBar.local.xcconfig.example
  ios/sideBar/Config/SideBar.xcconfig
  ios/sideBar/ci_scripts/ci_post_clone.sh
  ios/sideBar/sideBar/Views/FaviconImageView.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsiteRows.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
  ios/sideBar/sideBarShared/Utilities/EnvironmentConfig+Load.swift
  ios/sideBar/sideBarShared/Utilities/EnvironmentConfig.swift
Due: swiftlint

Show toast when offline website saved
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
  ios/sideBar/sideBarTests/WebsitesViewModelTests.swift
Due: swiftlint, ios-doc-comments

Use dedicated favicon bucket
  .env.example
  backend/api/config.py
  backend/api/services/favicon_service.py
  backend/api/services/storage/service.py
  backend/tests/test_favicon_service.py
  ios/sideBar/Config/SideBar.local.xcconfig.example
  ios/sideBar/Config/SideBar.xcconfig
  ios/sideBar/ci_scripts/ci_post_clone.sh
  ios/sideBar/sideBar/Views/FaviconImageView.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsiteRows.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
  ios/sideBar/sideBarShared/Utilities/EnvironmentConfig+Load.swift
  ios/sideBar/sideBarShared/Utilities/EnvironmentConfig.swift
Due: swiftlint, check-file-size-limits

Require dedicated favicon bucket
  backend/api/services/storage/service.py
  ios/sideBar/sideBarShared/Utilities/EnvironmentConfig+Load.swift
Due: swiftlint, check-file-size-limits

Add favicon public base URL for custom domain
  .env.example
  ios/sideBar/Config/SideBar.local.xcconfig.example
  ios/sideBar/Config/SideBar.xcconfig
  ios/sideBar/ci_scripts/ci_post_clone.sh
  ios/sideBar/sideBar/Views/FaviconImageView.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsiteRows.swift
  ios/sideBar/sideBar/Views/SidebarPanels/WebsitesPanel.swift
  ios/sideBar/sideBarShared/Utilities/EnvironmentConfig+Load.swift
  ios/sideBar/sideBarShared/Utilities/EnvironmentConfig.swift
Due: swiftlint

Use warning toast for offline website save
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
Due: swiftlint, ios-doc-comments

Add success toast style
  ios/sideBar/sideBar/Design/Components/ToastCenter.swift
  ios/sideBar/sideBar/ViewModels/WebsitesViewModel.swift
Due: swiftlint, ios-doc-comments

Extract favicon even when content parse fails
  backend/api/routers/websites_helpers.py
  backend/api/services/web_save_parser.py
  backend/skills/web-save/scripts/save_url.py
  backend/tests/skills/web_save/test_web_save_parser.py
Due: check-file-size-limits

Update uv lockfile
  backend/uv.lock
Due: none

Pass favicon bucket to skill executor
  backend/api/executors/skill_executor.py
Due: none

Queue offline ingestion items
  ios/sideBar/sideBar/App/AppEnvironment+Dependencies.swift
  ios/sideBar/sideBar/App/AppEnvironment+PendingShares.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Private.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Public.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel.swift
  ios/sideBar/sideBarShared/Utilities/PendingShareStore.swift
  ios/sideBar/sideBarTests/IngestionViewModelTests.swift
  ios/sideBar/sideBarTests/PendingShareStoreTests.swift
Due: swiftlint, ios-doc-comments

Persist favicon metadata before storage
  backend/api/routers/websites_helpers.py
  backend/api/services/favicon_service.py
  backend/skills/web-save/scripts/save_url.py
Due: check-file-size-limits

Add favicon bucket to Fly env
  backend/fly.toml
Due: none

feat: Add CoreSpotlight indexing for notes and files
  ios/sideBar/sideBar/App/AppEnvironment+Auth.swift
  ios/sideBar/sideBar/App/AppEnvironment.swift
  ios/sideBar/sideBar/App/AppSceneDelegate.swift
  ios/sideBar/sideBar/Services/Spotlight/SpotlightIndexer.swift
  ios/sideBar/sideBar/Stores/IngestionStore+Helpers.swift
  ios/sideBar/sideBar/Stores/IngestionStore+Realtime.swift
  ios/sideBar/sideBar/Stores/IngestionStore.swift
  ios/sideBar/sideBar/Stores/NotesStore.swift
Due: swiftlint, ios-doc-comments

Fix ingestion view model imports
  ios/sideBar/sideBar/ViewModels/IngestionViewModel.swift
Due: swiftlint, ios-doc-comments

feat: Add bulk Spotlight indexing for notes
  ios/sideBar/sideBar/Services/Spotlight/SpotlightIndexer.swift
  ios/sideBar/sideBar/Stores/NotesStore.swift
Due: swiftlint, ios-doc-comments

Treat network unavailable as offline for ingestion
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Private.swift
  ios/sideBar/sideBar/ViewModels/IngestionViewModel+Public.swift
  ios/sideBar/sideBarTests/IngestionViewModelTests.swift
Due: swiftlint, ios-doc-comments

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|js|svelte|json|md|yml|yaml)$
  swiftlint: any of: ^ios/.*\.swift$
  ios-doc-comments: any of: ^ios/sideBar/sideBar/(ViewModels|Services)/.*\.swift$
  check-file-size-limits: any of: ^(backend/api/services|backend/api/routers|frontend/src/lib/components|frontend/src/lib/stores)/.*\.(py|ts|svelte)$
